In [4]:
! pip install selenium

Collecting selenium
  Using cached selenium-4.29.0-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.3.0)
Collecting trio~=0.17 (from selenium)
  Using cached trio-0.29.0-py3-none-any.whl.metadata (8.5 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Using cached trio_websocket-0.12.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from selenium) (2025.1.31)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from selenium) (4.12.2)
Collecting websocket-client~=1.8 (from selenium)
  Using cached websocket_client-1.8.0-py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: attrs>=23.2.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from trio~=0.17->selenium) (25.1.0)
Collecting sortedcontainers (from trio~=0.17->selenium)
  Using cached sortedcontainers-2.4.0-py2.py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: idna in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from trio~=0.17->selenium) (3.10)
Collecting outcome (from trio~=0.17->selenium)
  Using cached outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Collecting sniffio>=1.3.0 (from trio~=0.17->selenium)
  Using cached sniffio-1.3.1-py3-none-any.whl.metadata (3.9 kB)
Collecting cffi>=1.14 (from trio~=0.17->selenium)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Using cached cffi-1.17.1-cp313-cp313-win_amd64.whl.metadata (1.6 kB)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Using cached wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Collecting pysocks!=1.5.7,<2.0,>=1.5.6 (from urllib3[socks]<3,>=1.26->selenium)
  Using cached PySocks-1.7.1-py3-none-any.whl.metadata (13 kB)
Collecting pycparser (from cffi>=1.14->trio~=0.17->selenium)
  Using cached pycparser-2.22-py3-none-any.whl.metadata (943 bytes)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Using cached h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Downloading selenium-4.29.0-py3-none-any.whl (9.5 MB)
   ---------------------------------------- 0.0/9.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.5 MB ? eta -:--:--
   - -------------------------------------- 0.3/9.5 MB ? eta -:--:--
   -- ------------------------------------- 0.5/9.5 MB 857.1 kB/s eta 0:00:11
   --- ------------------------------------ 0.8/9.5 MB 930.9 kB/s eta 0:00:10
   ---- ----------------------------------- 1.0/9.5 MB 963.4 kB/s eta 0:00:09
   ---- ----------------------------------- 1.0/9.5 MB 963.4 kB/s eta 0:00:09
   ----- ---------------------------------- 1.3/9.5 MB 933.5 kB/s eta 0:00:09
   ------ --------------------------------- 1.6/9.5 MB 920.2 kB/s eta 0:00:09
   ------- -------------------------------- 1.8/9.5 MB 951.7 kB/s eta 0:00:09
   -------- ------------------------------- 2.1/9.5 MB 962.6 kB/s eta 0:00:08
   --------- ------------------------------ 2.4/9.5 MB 981.6 kB/s eta 0:00:08
   ---------- ----------------------------- 2.6/9.5 MB 997.2 kB/s eta 0:00:07
   ------------ --------------------------- 2.9/9.5 MB 1.0 MB/s eta 0:00:07
   ------------- -------------------------- 3.1/9.5 MB 1.0 MB/s eta 0:00:07
   -------------- ------------------------- 3.4/9.5 MB 1.0 MB/s eta 0:00:06
   --------------- ------------------------ 3.7/9.5 MB 1.1 MB/s eta 0:00:06
   ---------------- ----------------------- 3.9/9.5 MB 1.1 MB/s eta 0:00:06
   ----------------- ---------------------- 4.2/9.5 MB 1.1 MB/s eta 0:00:05
   ----------------- ---------------------- 4.2/9.5 MB 1.1 MB/s eta 0:00:05
   ------------------ --------------------- 4.5/9.5 MB 1.1 MB/s eta 0:00:05
   ------------------- -------------------- 4.7/9.5 MB 1.1 MB/s eta 0:00:05
   -------------------- ------------------- 5.0/9.5 MB 1.1 MB/s eta 0:00:05
   --------------------- ------------------ 5.2/9.5 MB 1.1 MB/s eta 0:00:05
   ----------------------- ---------------- 5.5/9.5 MB 1.1 MB/s eta 0:00:04
   ----------------------- ---------------- 5.5/9.5 MB 1.1 MB/s eta 0:00:04
   ----------------------- ---------------- 5.5/9.5 MB 1.1 MB/s eta 0:00:04
   ----------------------- ---------------- 5.5/9.5 MB 1.1 MB/s eta 0:00:04
   ----------------------- ---------------- 5.5/9.5 MB 1.1 MB/s eta 0:00:04
   ----------------------- ---------------- 5.5/9.5 MB 1.1 MB/s eta 0:00:04
   ------------------------- -------------- 6.0/9.5 MB 940.4 kB/s eta 0:00:04
   -------------------------- ------------- 6.3/9.5 MB 954.1 kB/s eta 0:00:04
   --------------------------- ------------ 6.6/9.5 MB 953.8 kB/s eta 0:00:04
   --------------------------- ------------ 6.6/9.5 MB 953.8 kB/s eta 0:00:04
   ---------------------------- ----------- 6.8/9.5 MB 928.9 kB/s eta 0:00:03
   ----------------------------- ---------- 7.1/9.5 MB 936.1 kB/s eta 0:00:03
   ------------------------------ --------- 7.3/9.5 MB 940.1 kB/s eta 0:00:03
   ------------------------------- -------- 7.6/9.5 MB 940.5 kB/s eta 0:00:03
   -------------------------------- ------- 7.9/9.5 MB 948.3 kB/s eta 0:00:02
   ---------------------------------- ----- 8.1/9.5 MB 945.3 kB/s eta 0:00:02
   ---------------------------------- ----- 8.1/9.5 MB 945.3 kB/s eta 0:00:02
   ----------------------------------- ---- 8.4/9.5 MB 942.9 kB/s eta 0:00:02
   ----------------------------------- ---- 8.4/9.5 MB 942.9 kB/s eta 0:00:02
   ------------------------------------ --- 8.7/9.5 MB 912.9 kB/s eta 0:00:01
   ------------------------------------- -- 8.9/9.5 MB 920.1 kB/s eta 0:00:01
   ------------------------------------- -- 8.9/9.5 MB 920.1 kB/s eta 0:00:01
   -------------------------------------- - 9.2/9.5 MB 924.2 kB/s eta 0:00:01
   ---------------------------------------- 9.5/9.5 MB 929.1 kB/s eta 0:00:00
Downloading trio-0.29.0-py3-none-any.whl (492 kB)
Downloading trio_websocket-0.12.2-py3-none-any.whl (21 kB)
Downloading websocket_client-1.8.0-py3-none-any.whl (58 kB)
Downloading cffi-1.17.1-cp313-cp313-win_amd64.whl (182 kB)
Using cached outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Downloading PySocks-1.7.1-py3-none-any.whl (16 kB)
Downloading sniffio-1.3.1-py3-none-any.whl (10 kB)
Using cached wsproto-1.2.0-py3-none-any.whl (24 kB)
Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Downloading h11-0.14.0-py3-none-any.whl (58 kB)
Downloading pycparser-2.22-py3-none-any.whl (117 kB)
Installing collected packages: sortedcontainers, websocket-client, sniffio, pysocks, pycparser, outcome, h11, wsproto, cffi, trio, trio-websocket, selenium
Successfully installed cffi-1.17.1 h11-0.14.0 outcome-1.3.0.post0 pycparser-2.22 pysocks-1.7.1 selenium-4.29.0 sniffio-1.3.1 sortedcontainers-2.4.0 trio-0.29.0 trio-websocket-0.12.2 websocket-client-1.8.0 wsproto-1.2.0

In [5]:
#for action movie - 1296
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
import time
import pandas as pd

driver = webdriver.Chrome()
driver.get('https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=action')
driver.maximize_window()
time.sleep(2)

scrolling = True #initialize
while scrolling:
    try:
        # Locate the more_button
        more_button = driver.find_element(By.XPATH, "//span[@class='ipc-see-more__text']")
        time.sleep(2)
        
        # Scroll to Locate the more_button
        actions = ActionChains(driver)
        time.sleep(3)
        actions.move_to_element(more_button).perform()#it act as a curser
        time.sleep(5)
        
        # Click the button
        more_button.click()
        time.sleep(3)
        
    except:
        scrolling = False
        break



#create a list to append the data
movie_name = []
voting = []
rating = []
duration = []

#movies xpath
action_movies = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')


for action_movie in action_movies:
   try:
       movie_names = action_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
       movie_votings = action_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
       movie_ratings = action_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
       movie_duration = action_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text                                                  
       
       #append the data into list
       movie_name.append(movie_names)
       voting.append(movie_votings)
       rating.append(movie_ratings)
       duration.append(movie_duration)
   except:
       continue


#create a dataframe
action_movie_df = pd.DataFrame({
    'Movie_name':movie_name,
    'Voting':voting,
    'Rating': rating,
    'Duration':duration
})

driver.quit()

action_movie_df

,Movie_name,Voting,Rating,Duration
0,1. Dune: Part Two,(611K),8.5,2h 46m
1,2. Venom: The Last Dance,(106K),6.0,1h 50m
2,3. Gladiator II,(215K),6.6,2h 28m
3,4. Sonic the Hedgehog 3,(52K),6.9,1h 50m
4,5. The Lord of the Rings: The War of the Rohirrim,(27K),6.3,2h 14m
...,...,...,...,...
784,1169. Jefa De Jefas,(9),8.2,1h 22m
785,1171. The End of Hen,(9),9.7,1h 7m
786,1180. Bush Knife,(7),7.0,1h 30m
787,1182. Kyle and the Last Emerald 2,(7),8.4,15m
788,1275. PW V: Tears of the Fallen,(11),8.2,1h

In [6]:
#for data cleaning

# remove integer and dot(movie_name)
import re #regular expression
action_movie_df['Movie_name']= action_movie_df['Movie_name'].str.replace(r'^\d+\.\s*', '', regex = True)

#clean the Voting column
def clean_voting(vote):
    return vote.replace('(', '').replace(')', '').replace('K', '000')

# Apply to Voting column
action_movie_df['Voting'] = action_movie_df['Voting'].apply(clean_voting)

#clean the duration:
def convert_to_seconds(duration): # 2h 7m
    hours = 0
    minutes = 0
    splitt = duration.split() #['2h','7m']
    for splitts in splitt:
        if 'h' in splitts:
            hours = int(splitts.replace('h', '')) #[2 ,'7m']
        if 'm' in splitts:
            minutes = int(splitts.replace('m', '')) # [2 , 7]

    return hours* 3600 + minutes * 60

# Apply to duration column
action_movie_df['Duration'] = action_movie_df['Duration'].apply(convert_to_seconds) 

action_movie_df

                                         Movie_name   Voting Rating  Duration
0                                    Dune: Part Two   611000    8.5      9960
1                             Venom: The Last Dance   106000    6.0      6600
2                                      Gladiator II   215000    6.6      8880
3                              Sonic the Hedgehog 3    52000    6.9      6600
4    The Lord of the Rings: The War of the Rohirrim    27000    6.3      8040
..                                              ...      ...    ...       ...
784                                   Jefa De Jefas        9    8.2      4920
785                                  The End of Hen        9    9.7      4020
786                                      Bush Knife        7    7.0      5400
787                     Kyle and the Last Emerald 2        7    8.4       900
788                       PW V: Tears of the Fallen       11    8.2      3600

[789 rows x 4 columns]

In [7]:
#add a new column Gener
action_movie_df['Gener'] = 'Action'

In [8]:
action_movie_df

,Movie_name,Voting,Rating,Duration,Gener
0,Dune: Part Two,611000,8.5,9960,Action
1,Venom: The Last Dance,106000,6.0,6600,Action
2,Gladiator II,215000,6.6,8880,Action
3,Sonic the Hedgehog 3,52000,6.9,6600,Action
4,The Lord of the Rings: The War of the Rohirrim,27000,6.3,8040,Action
...,...,...,...,...,...
784,Jefa De Jefas,9,8.2,4920,Action
785,The End of Hen,9,9.7,4020,Action
786,Bush Knife,7,7.0,5400,Action
787,Kyle and the Last Emerald 2,7,8.4,900,Action
788,PW V: Tears of the Fallen,11,8.2,3600,Action

In [9]:
#war movie 127
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
import time
import pandas as pd


driver = webdriver.Chrome()
driver.get('https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=war')
driver.maximize_window()
time.sleep(2)

scrolling = True #initialize
while scrolling:
    try:
        # Locate the more_button
        more_button = driver.find_element(By.XPATH, "//span[@class='ipc-see-more__text']")
        time.sleep(2)
        
        # Scroll to Locate the more_button
        actions = ActionChains(driver)
        time.sleep(3)
        actions.move_to_element(more_button).perform()
        time.sleep(5)
        
        # Click the button
        more_button.click()
        time.sleep(3)
        
        
    except:
        pass
        scrolling = False


movie_name = []
voting = []
rating = []
duration = []

war_movies = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')

    #print(i.text)
for war_movie in war_movies:
   try:
       movie_names = war_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
       movie_votings = war_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
       movie_ratings = war_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
       movie_duration = war_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text                                                  
       
       #append the data into list
       movie_name.append(movie_names)
       voting.append(movie_votings)
       rating.append(movie_ratings)
       duration.append(movie_duration)
   except:
       pass


#create a dataframe
war_movie_df = pd.DataFrame({
    'Movie_name':movie_name,
    'Voting':voting,
    'Rating': rating,
    'Duration':duration
})



driver.quit()
war_movie_df

                                  Movie_name   Voting Rating Duration
0                            1. William Tell   (1.6K)    5.8   2h 13m
1   2. The Ministry of Ungentlemanly Warfare   (131K)    6.8    2h 2m
2                    3. The Six Triple Eight    (25K)    6.7    2h 7m
3                      4. My Dead Friend Zoe     (1K)    7.3   1h 43m
4                                  5. Nr. 24    (14K)    7.5   1h 51m
..                                       ...      ...    ...      ...
73                  110. Sem chyornykh bumag     (55)    6.6   1h 36m
74                        112. Krasnye lenty     (18)    5.3    1h 2m
75           114. Por ti, Portugal, eu juro!      (5)    7.6   1h 38m
76               118. Dosije Kosovo - Pogrom      (5)    7.6   1h 49m
77                       122. Krigsvarsleren      (6)    7.2      55m

[78 rows x 4 columns]

In [10]:
#for data cleaning

# remove integer and dot(movie_name)
import re #regular expression
war_movie_df['Movie_name']= war_movie_df['Movie_name'].str.replace(r'^\d+\.\s*', '', regex = True)

#clean the Voting column
def clean_voting(vote):
    return vote.replace('(', '').replace(')', '').replace('K', '000')

# Apply to Voting column
war_movie_df['Voting'] = war_movie_df['Voting'].apply(clean_voting) 

#clean the duration:
def convert_to_seconds(duration): # 2h 7m
    hours = 0
    minutes = 0
    splitt = duration.split() #['2h','7m']
    for splitts in splitt:
        if 'h' in splitts:
            hours = int(splitts.replace('h', '')) #[2 ,'7m']
        if 'm' in splitts:
            minutes = int(splitts.replace('m', '')) # [2 , 7]

    return hours* 3600 + minutes * 60

# Apply to duration column
war_movie_df['Duration'] = war_movie_df['Duration'].apply(convert_to_seconds) 

war_movie_df

                               Movie_name   Voting Rating  Duration
0                            William Tell   1.6000    5.8      7980
1   The Ministry of Ungentlemanly Warfare   131000    6.8      7320
2                    The Six Triple Eight    25000    6.7      7620
3                      My Dead Friend Zoe     1000    7.3      6180
4                                  Nr. 24    14000    7.5      6660
..                                    ...      ...    ...       ...
73                    Sem chyornykh bumag       55    6.6      5760
74                          Krasnye lenty       18    5.3      3720
75             Por ti, Portugal, eu juro!        5    7.6      5880
76                 Dosije Kosovo - Pogrom        5    7.6      6540
77                         Krigsvarsleren        6    7.2      3300

[78 rows x 4 columns]

In [11]:
#add a new column Gener
war_movie_df['Gener'] = 'War'

In [12]:
war_movie_df

                               Movie_name   Voting Rating  Duration Gener
0                            William Tell   1.6000    5.8      7980   War
1   The Ministry of Ungentlemanly Warfare   131000    6.8      7320   War
2                    The Six Triple Eight    25000    6.7      7620   War
3                      My Dead Friend Zoe     1000    7.3      6180   War
4                                  Nr. 24    14000    7.5      6660   War
..                                    ...      ...    ...       ...   ...
73                    Sem chyornykh bumag       55    6.6      5760   War
74                          Krasnye lenty       18    5.3      3720   War
75             Por ti, Portugal, eu juro!        5    7.6      5880   War
76                 Dosije Kosovo - Pogrom        5    7.6      6540   War
77                         Krigsvarsleren        6    7.2      3300   War

[78 rows x 5 columns]

In [16]:
#for biography movie - 440
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
import time
import pandas as pd

driver = webdriver.Chrome()
driver.get('https://www.imdb.com/search/title/?title_type=feature&genres=biography&release_date=2024-01-01,2024-12-31')
driver.maximize_window()
time.sleep(2)

scrolling = True #initialize
while scrolling:
    try:
        # Locate the more_button
        more_button = driver.find_element(By.XPATH, "//span[@class='ipc-see-more__text']")
        time.sleep(2)
        
        # Scroll to Locate the more_button
        actions = ActionChains(driver)
        time.sleep(3)
        actions.move_to_element(more_button).perform()
        time.sleep(5)
        
        # Click the button
        more_button.click()
        time.sleep(3)
        
        
    except:
        scrolling = False


movie_name = []
voting = []
rating = []
duration = []

biography_movies = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')


for biography_movie in biography_movies:
   try:                                           
       movie_names = biography_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
       movie_votings = biography_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
       movie_ratings = biography_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
       movie_duration = biography_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text                                                  
       
       #append the data into list
       movie_name.append(movie_names)
       voting.append(movie_votings)
       rating.append(movie_ratings)
       duration.append(movie_duration)
   except:
    continue
       


#create a dataframe
biography_movie_df = pd.DataFrame({
    'Movie_name':movie_name,
    'Voting':voting,
    'Rating': rating,
    'Duration':duration
})

driver.quit()
biography_movie_df

                                       Movie_name   Voting Rating Duration
0                           1. A Complete Unknown    (58K)    7.4   2h 21m
1                               2. I'm Still Here    (93K)    8.4   2h 17m
2                               3. The Apprentice    (49K)    7.1    2h 2m
3                            4. Queen of the Ring    (744)    7.0   2h 20m
4                                 5. William Tell   (1.6K)    5.8   2h 13m
..                                            ...      ...    ...      ...
254          410. Toquinho: Encontros e um Violão      (5)    8.6   1h 30m
255                413. ¡Qué suerte hemos tenido!     (16)    7.5    1h 2m
256  416. Georges Pompidou, la cruauté du pouvoir      (6)    6.2   1h 44m
257            417. Beyaz Zenciler: Yapim Asamasi      (5)    8.6      55m
258                               438. 87 Candles      (9)    8.9      55m

[259 rows x 4 columns]

In [17]:
#for data cleaning

# remove integer and dot(movie_name)
import re #regular expression
biography_movie_df['Movie_name']= biography_movie_df['Movie_name'].str.replace(r'^\d+\.\s*', '', regex = True)

#clean the Voting column
def clean_voting(vote):
    return vote.replace('(', '').replace(')', '').replace('K', '000')

# Apply to Voting column
biography_movie_df['Voting'] = biography_movie_df['Voting'].apply(clean_voting) 

#clean the duration:
def convert_to_seconds(duration): # 2h 7m
    hours = 0
    minutes = 0
    splitt = duration.split() #['2h','7m']
    for splitts in splitt:
        if 'h' in splitts:
            hours = int(splitts.replace('h', '')) #[2 ,'7m']
        if 'm' in splitts:
            minutes = int(splitts.replace('m', '')) # [2 , 7]

    return hours* 3600 + minutes * 60

# Apply to duration column
biography_movie_df['Duration'] = biography_movie_df['Duration'].apply(convert_to_seconds) 

biography_movie_df

                                  Movie_name   Voting Rating  Duration
0                         A Complete Unknown    58000    7.4      8460
1                             I'm Still Here    93000    8.4      8220
2                             The Apprentice    49000    7.1      7320
3                          Queen of the Ring      744    7.0      8400
4                               William Tell   1.6000    5.8      7980
..                                       ...      ...    ...       ...
254          Toquinho: Encontros e um Violão        5    8.6      5400
255                ¡Qué suerte hemos tenido!       16    7.5      3720
256  Georges Pompidou, la cruauté du pouvoir        6    6.2      6240
257            Beyaz Zenciler: Yapim Asamasi        5    8.6      3300
258                               87 Candles        9    8.9      3300

[259 rows x 4 columns]

In [18]:
#add a new column Gener
biography_movie_df['Gener'] = 'Biography'

In [19]:
biography_movie_df

,Movie_name,Voting,Rating,Duration,Gener
0,A Complete Unknown,58000,7.4,8460,Biography
1,I'm Still Here,93000,8.4,8220,Biography
2,The Apprentice,49000,7.1,7320,Biography
3,Queen of the Ring,744,7.0,8400,Biography
4,William Tell,1.6000,5.8,7980,Biography
...,...,...,...,...,...
254,Toquinho: Encontros e um Violão,5,8.6,5400,Biography
255,¡Qué suerte hemos tenido!,16,7.5,3720,Biography
256,"Georges Pompidou, la cruauté du pouvoir",6,6.2,6240,Biography
257,Beyaz Zenciler: Yapim Asamasi,5,8.6,3300,Biography
258,87 Candles,9,8.9,3300,Biography

In [21]:
#animation movie 393
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
import time
import pandas as pd

driver = webdriver.Chrome()
driver.get('https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=animation')
driver.maximize_window()
time.sleep(2)

scrolling = True #initialize
while scrolling:
    try:
        # Locate the more_button
        more_button = driver.find_element(By.XPATH, "//span[@class='ipc-see-more__text']")
        time.sleep(2)
        
        # Scroll to Locate the more_button
        actions = ActionChains(driver)
        time.sleep(3)
        actions.move_to_element(more_button).perform()
        time.sleep(5)
        
        # Click the button
        more_button.click()
        time.sleep(3)
        
        
    except:
        scrolling = False


movie_name = []
voting = []
rating = []
duration = []

animation_movies = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')


for animation_movie in animation_movies:
   try:
       movie_names = animation_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
       movie_votings = animation_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
       movie_ratings = animation_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
       movie_duration = animation_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text                                                  
       
       #append the data into list
       movie_name.append(movie_names)
       voting.append(movie_votings)
       rating.append(movie_ratings)
       duration.append(movie_duration)
   except:
       continue


#create a dataframe
animation_movie_df = pd.DataFrame({
    'Movie_name':movie_name,
    'Voting':voting,
    'Rating': rating,
    'Duration':duration
})

#animation_movie_df.to_csv('animation_movie.csv',index=False)

#driver.quit()
animation_movie_df

,Movie_name,Voting,Rating,Duration
0,1. Flow,(57K),7.9,1h 25m
1,2. The Wild Robot,(151K),8.2,1h 42m
2,3. The Lord of the Rings: The War of the Rohirrim,(27K),6.3,2h 14m
3,4. Mufasa: The Lion King,(47K),6.6,1h 58m
4,5. Despicable Me 4,(62K),6.2,1h 34m
...,...,...,...,...
214,"287. Hey, Tete",(9),6.4,2h 31m
215,301. Skazochnyy patrul. Shou prodolzhayetsya,(11),7.2,1h 5m
216,309. Let's Go! Anpanman: Baikinman and Lulun,(7),6.5,1h 4m
217,321. Bie ba zuo wen dang hui shi er,(10),7.2,1h 29m
218,349. Elli and the Ghostly Ghost Train,(88),5.0,1h 26m

In [22]:
#for data cleaning

# remove integer and dot(movie_name)
import re #regular expression
animation_movie_df['Movie_name']= animation_movie_df['Movie_name'].str.replace(r'^\d+\.\s*', '', regex = True)

#clean the Voting column
def clean_voting(vote):
    return vote.replace('(', '').replace(')', '').replace('K', '000')

# Apply to Voting column
animation_movie_df['Voting'] = animation_movie_df['Voting'].apply(clean_voting) 

#clean the duration:
def convert_to_seconds(duration): # 2h 7m
    hours = 0
    minutes = 0
    splitt = duration.split() #['2h','7m']
    for splitts in splitt:
        if 'h' in splitts:
            hours = int(splitts.replace('h', '')) #[2 ,'7m']
        if 'm' in splitts:
            minutes = int(splitts.replace('m', '')) # [2 , 7]

    return hours* 3600 + minutes * 60

# Apply to duration column
animation_movie_df['Duration'] = animation_movie_df['Duration'].apply(convert_to_seconds) 

animation_movie_df

                                         Movie_name   Voting Rating  Duration
0                                              Flow    57000    7.9      5100
1                                    The Wild Robot   151000    8.2      6120
2    The Lord of the Rings: The War of the Rohirrim    27000    6.3      8040
3                             Mufasa: The Lion King    47000    6.6      7080
4                                   Despicable Me 4    62000    6.2      5640
..                                              ...      ...    ...       ...
214                                       Hey, Tete        9    6.4      9060
215         Skazochnyy patrul. Shou prodolzhayetsya       11    7.2      3900
216         Let's Go! Anpanman: Baikinman and Lulun        7    6.5      3840
217                  Bie ba zuo wen dang hui shi er       10    7.2      5340
218                Elli and the Ghostly Ghost Train       88    5.0      5160

[219 rows x 4 columns]

In [23]:
#add a new column Gener
animation_movie_df['Gener'] = 'Animation'

In [24]:
animation_movie_df

,Movie_name,Voting,Rating,Duration,Gener
0,Flow,57000,7.9,5100,Animation
1,The Wild Robot,151000,8.2,6120,Animation
2,The Lord of the Rings: The War of the Rohirrim,27000,6.3,8040,Animation
3,Mufasa: The Lion King,47000,6.6,7080,Animation
4,Despicable Me 4,62000,6.2,5640,Animation
...,...,...,...,...,...
214,"Hey, Tete",9,6.4,9060,Animation
215,Skazochnyy patrul. Shou prodolzhayetsya,11,7.2,3900,Animation
216,Let's Go! Anpanman: Baikinman and Lulun,7,6.5,3840,Animation
217,Bie ba zuo wen dang hui shi er,10,7.2,5340,Animation
218,Elli and the Ghostly Ghost Train,88,5.0,5160,Animation

In [26]:
#adventure movie - 577
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
import time
import pandas as pd

driver = webdriver.Chrome()
driver.get('https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=adventure')
driver.maximize_window()
time.sleep(2)

scrolling = True #initialize
while scrolling:
    try:
        # Locate the more_button
        more_button = driver.find_element(By.XPATH, "//span[@class='ipc-see-more__text']")
        time.sleep(2)
        
        # Scroll to Locate the more_button
        actions = ActionChains(driver)
        time.sleep(3)
        actions.move_to_element(more_button).perform()
        time.sleep(5)
        
        # Click the button
        more_button.click()
        time.sleep(3)
        
        
    except:
        scrolling = False


movie_name = []
voting = []
rating = []
duration = []

adventure_movies = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')

    #print(i.text)
for adventure_movie in adventure_movies:
   try:
       movie_names = adventure_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
       movie_votings = adventure_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
       movie_ratings = adventure_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
       movie_duration = adventure_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text                                                  
       
       #append the data into list
       movie_name.append(movie_names)
       voting.append(movie_votings)
       rating.append(movie_ratings)
       duration.append(movie_duration)
   except:
       continue


#create a dataframe
adventure_movie_df = pd.DataFrame({
    'Movie_name':movie_name,
    'Voting':voting,
    'Rating': rating,
    'Duration':duration
})
driver.quit()
adventure_movie_df

                                Movie_name   Voting Rating Duration
0                                  1. Flow    (57K)    7.9   1h 25m
1                        2. Dune: Part Two   (611K)    8.5   2h 46m
2                 3. Venom: The Last Dance   (107K)    6.0   1h 50m
3                          4. Gladiator II   (215K)    6.6   2h 28m
4                  5. Sonic the Hedgehog 3    (52K)    6.9   1h 50m
..                                     ...      ...    ...      ...
378  545. Elli and the Ghostly Ghost Train     (88)    5.0   1h 26m
379                    546. The Kingfish 2     (10)    7.9   1h 12m
380                           553. Lajjpal      (8)    9.0   4h 12m
381     567. Beyaz Zenciler: Yapim Asamasi      (5)    8.6      55m
382         579. PW V: Tears of the Fallen     (11)    8.2       1h

[383 rows x 4 columns]

In [27]:
#for data cleaning

# remove integer and dot(movie_name)
import re #regular expression
adventure_movie_df['Movie_name']= adventure_movie_df['Movie_name'].str.replace(r'^\d+\.\s*', '', regex = True)

#clean the Voting column
def clean_voting(vote):
    return vote.replace('(', '').replace(')', '').replace('K', '000')

# Apply to Voting column
adventure_movie_df['Voting'] = adventure_movie_df['Voting'].apply(clean_voting) 

#clean the duration:
def convert_to_seconds(duration): # 2h 7m
    hours = 0
    minutes = 0
    splitt = duration.split() #['2h','7m']
    for splitts in splitt:
        if 'h' in splitts:
            hours = int(splitts.replace('h', '')) #[2 ,'7m']
        if 'm' in splitts:
            minutes = int(splitts.replace('m', '')) # [2 , 7]

    return hours* 3600 + minutes * 60 #[2*3600 + 7*60]

# Apply to duration column
adventure_movie_df['Duration'] = adventure_movie_df['Duration'].apply(convert_to_seconds) 

adventure_movie_df

                           Movie_name   Voting Rating  Duration
0                                Flow    57000    7.9      5100
1                      Dune: Part Two   611000    8.5      9960
2               Venom: The Last Dance   107000    6.0      6600
3                        Gladiator II   215000    6.6      8880
4                Sonic the Hedgehog 3    52000    6.9      6600
..                                ...      ...    ...       ...
378  Elli and the Ghostly Ghost Train       88    5.0      5160
379                    The Kingfish 2       10    7.9      4320
380                           Lajjpal        8    9.0     15120
381     Beyaz Zenciler: Yapim Asamasi        5    8.6      3300
382         PW V: Tears of the Fallen       11    8.2      3600

[383 rows x 4 columns]

In [28]:
#add a new column Gener
adventure_movie_df['Gener'] = 'Adventure'

In [29]:
adventure_movie_df

                           Movie_name   Voting Rating  Duration      Gener
0                                Flow    57000    7.9      5100  Adventure
1                      Dune: Part Two   611000    8.5      9960  Adventure
2               Venom: The Last Dance   107000    6.0      6600  Adventure
3                        Gladiator II   215000    6.6      8880  Adventure
4                Sonic the Hedgehog 3    52000    6.9      6600  Adventure
..                                ...      ...    ...       ...        ...
378  Elli and the Ghostly Ghost Train       88    5.0      5160  Adventure
379                    The Kingfish 2       10    7.9      4320  Adventure
380                           Lajjpal        8    9.0     15120  Adventure
381     Beyaz Zenciler: Yapim Asamasi        5    8.6      3300  Adventure
382         PW V: Tears of the Fallen       11    8.2      3600  Adventure

[383 rows x 5 columns]

In [30]:
#convert df to csv
war_movie_df.to_csv("war_movies_df.csv", index=False)

In [31]:
action_movie_df.to_csv("action_movies.csv", index=False)

In [32]:
biography_movie_df.to_csv("biography_movies.csv", index=False)

In [33]:
animation_movie_df.to_csv("Animation_movies.csv", index=False)

In [34]:
adventure_movie_df.to_csv("adventure_movies.csv", index=False)

In [ ]:
#list of files
files = ["war_movies_df.csv",
        "action_movies.csv",
        "biography_movies.csv",
        "Animation_movies.csv",
        "adventure_movies.csv"]

#create an empty dataframe to store the combined data
combined_df = []

for file in files:
    com_df = pd.read_csv(file)
    combined_df.append(com_df)
    
combined_df = pd.concat(combined_df, ignore_index = True)
    
    
combined_df.to_csv('IMDB_movies.csv' , index = False)

In [45]:
df = pd.read_csv('IMDB_movies.csv')

In [46]:
df

,Movie_name,Voting,Rating,Duration,Gener
0,William Tell,1.6,5.8,7980,War
1,The Ministry of Ungentlemanly Warfare,131000.0,6.8,7320,War
2,The Six Triple Eight,25000.0,6.7,7620,War
3,My Dead Friend Zoe,1000.0,7.3,6180,War
4,Nr. 24,14000.0,7.5,6660,War
...,...,...,...,...,...
1723,Elli and the Ghostly Ghost Train,88.0,5.0,5160,Adventure
1724,The Kingfish 2,10.0,7.9,4320,Adventure
1725,Lajjpal,8.0,9.0,15120,Adventure
1726,Beyaz Zenciler: Yapim Asamasi,5.0,8.6,3300,Adventure
1727,PW V: Tears of the Fallen,11.0,8.2,3600,Adventure

In [47]:
! pip install pymysql

Requirement already satisfied: pymysql in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [48]:
import pymysql 
import pandas as pd

In [ ]:
dbconnection =pymysql.connect(
    host = "localhost",
    database = "mat2",
    user = "mat2",
    password = "0701"
)
curr = dbconnection.cursor()

In [57]:
curr = dbconnection.cursor()

In [62]:
#create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS imdbmovies(
Movie_name VARCHAR(150),
Voting INT,
Rating FLOAT,
Duration INT,
Gener VARCHAR(25)
)
"""

In [63]:
#insert the data into the table
insert_query = """
INSERT INTO imdbmovies(Movie_name, Voting, Rating, Duration, Gener) VALUES (%s, %s, %s, %s, %s)
"""

In [65]:
# Create the table
curr.execute(create_table_query)
dbconnection.commit()

# Insert data into the table
for index, row in df.iterrows():
    try:
        curr.execute(insert_query, (row['Movie_name'], row['Voting'], row['Rating'], row['Duration'], row['Gener']))
    except Exception as e:
        print(f"Error at row {index}: {e}")
dbconnection.commit()

In [66]:
# Run a SELECT query to fetch all rows
select_query = "SELECT * FROM imdbmovies"
curr.execute(select_query)

# Fetch all rows from the result of the query
rows = curr.fetchall()

In [68]:

rows

(('William Tell', 2, 5.8, 7980, 'War'),
 ('The Ministry of Ungentlemanly Warfare', 131000, 6.8, 7320, 'War'),
 ('The Six Triple Eight', 25000, 6.7, 7620, 'War'),
 ('My Dead Friend Zoe', 1000, 7.3, 6180, 'War'),
 ('Nr. 24', 14000, 7.5, 6660, 'War'),
 ('Blitz', 15000, 6.2, 7200, 'War'),
 ('Dirty Angels', 3, 4.3, 6240, 'War'),
 ('Chhava', 2, 8.6, 3060, 'War'),
 ('Amaran', 18000, 8.2, 10020, 'War'),
 ('Uprising', 5, 6.6, 7560, 'War'),
 ('Escape from Germany', 901, 5.3, 5820, 'War'),
 ('Laws of Man', 321, 4.1, 5880, 'War'),
 ('Goebbels and the Führer', 2, 6.7, 8100, 'War'),
 ('Murder Company', 2, 3.7, 5160, 'War'),
 ('Decoded', 410, 5.8, 9360, 'War'),
 ('Dharmarakshak Mahaveer Chhatrapati Sambhaji Maharaj',
  648,
  8.2,
  10440,
  'War'),
 ('Invasion', 664, 4.8, 5460, 'War'),
 ('Before Dawn', 926, 5.4, 6060, 'War'),
 ('Without Blood', 88, 7.5, 5460, 'War'),
 ('Quisling: The Final Days', 1000, 7.1, 8760, 'War'),
 ('Love, Courage and the Battle of Bushy Run', 171, 5.0, 6780, 'War'),
 ('The Last Front', 596, 5.5, 5880, 'War'),
 ('Chandu Champion', 34000, 7.8, 8520, 'War'),
 ('Bau: Artist at War', 52, 7.1, 7800, 'War'),
 ('The Witch: Revenge', 773, 5.3, 6000, 'War'),
 ('Canadian, Sniper', 346, 3.5, 4980, 'War'),
 ('WWII: Operation Phoenix', 62, 6.7, 6360, 'War'),
 ('Never Alone', 401, 7.2, 5100, 'War'),
 ('The Volunteers: The Battle of Life and Death', 213, 6.2, 8640, 'War'),
 ('Battlefield', 633, 6.2, 6240, 'War'),
 ('The Shamrock Spitfire', 470, 5.1, 6480, 'War'),
 ('Ka Whawhai Tonu', 169, 7.4, 6900, 'War'),
 ('The Friendly', 15, 8.1, 6060, 'War'),
 ('Atatürk II: 1881-1919', 2, 8.9, 8460, 'War'),
 ('The Yin Yang Master Zero', 256, 5.7, 6720, 'War'),
 ('White Courage', 606, 6.3, 6900, 'War'),
 ('Orang Ikan', 31, 6.5, 4980, 'War'),
 ('Kang Mak', 756, 6.4, 7320, 'War'),
 ('Klitschko: More Than a Fight', 489, 6.3, 5760, 'War'),
 ('Aserb: The Squadron', 297, 5.2, 7200, 'War'),
 ('Ludzie', 40, 6.9, 7020, 'War'),
 ('Fortunes of War', 173, 3.5, 5100, 'War'),
 ('Conquer: Lahad Datu', 494, 6.7, 7200, 'War'),
 ('24 Hours to D-Day', 34, 4.8, 4980, 'War'),
 ('The Epidemic', 69, 5.8, 5700, 'War'),
 ('The Liberation Men', 76, 6.5, 5400, 'War'),
 ('Red Poppies', 294, 4.7, 7320, 'War'),
 ('Air War', 112, 6.5, 6360, 'War'),
 ('Haywire: Gunslingers', 25, 2.2, 5100, 'War'),
 ('War Blade', 252, 3.9, 5640, 'War'),
 ('Burning Stars', 43, 6.6, 5040, 'War'),
 ('Bardejov', 176, 4.8, 5100, 'War'),
 ('Dao, Pho Va Piano', 189, 5.9, 6000, 'War'),
 ('The Dugout', 747, 5.5, 6840, 'War'),
 ('We Were Recruits', 229, 7.0, 5520, 'War'),
 ('Russians at War', 1000, 1.8, 7740, 'War'),
 ('Hitler', 302, 5.2, 7680, 'War'),
 ('America, Invaded', 19, 7.2, 4920, 'War'),
 ('The Mousetrap', 12, 6.6, 5220, 'War'),
 ('Bozji gnjev', 58, 7.2, 6660, 'War'),
 ('Operation Star', 23, 7.6, 6120, 'War'),
 ('October 7 - Al Jazeera Investigations', 40, 6.5, 3600, 'War'),
 ('Pidyomna syla', 63, 8.9, 5220, 'War'),
 ('Blood Vendetta', 234, 7.7, 5400, 'War'),
 ("Eddy's oorlog", 46, 7.7, 6060, 'War'),
 ('Village of Death: Oradour-sur-Glane 1944', 14, 7.8, 3480, 'War'),
 ('Pozyvnoy «Passazhir»', 220, 4.8, 6060, 'War'),
 ('Vremya vernutsya', 10, 8.0, 6000, 'War'),
 ('Kara Kyz', 19, 4.8, 6660, 'War'),
 ("Churchill's Forgotten War", 9, 7.4, 2820, 'War'),
 ('Korni', 14, 8.2, 8220, 'War'),
 ('Los indomables', 9, 6.5, 6360, 'War'),
 ('On Moral Grounds', 7, 8.4, 4440, 'War'),
 ('Sem chyornykh bumag', 55, 6.6, 5760, 'War'),
 ('Krasnye lenty', 18, 5.3, 3720, 'War'),
 ('Por ti, Portugal, eu juro!', 5, 7.6, 5880, 'War'),
 ('Dosije Kosovo - Pogrom', 5, 7.6, 6540, 'War'),
 ('Krigsvarsleren', 6, 7.2, 3300, 'War'),
 ('Dune: Part Two', 611000, 8.5, 9960, 'Action'),
 ('Venom: The Last Dance', 106000, 6.0, 6600, 'Action'),
 ('Gladiator II', 215000, 6.6, 8880, 'Action'),
 ('Sonic the Hedgehog 3', 52000, 6.9, 6600, 'Action'),
 ('The Lord of the Rings: The War of the Rohirrim',
  27000,
  6.3,
  8040,
  'Action'),
 ('William Tell', 2, 5.8, 7980, 'Action'),
 ('Kraven the Hunter', 43000, 5.4, 7620, 'Action'),
 ('Pushpa: The Rule - Part 2', 54000, 6.1, 12060, 'Action'),
 ('Furiosa: A Mad Max Saga', 279000, 7.5, 8880, 'Action'),
 ('Elevation', 19000, 5.6, 5460, 'Action'),
 ('Borderlands', 45000, 4.7, 6060, 'Action'),
 ('Deadpool & Wolverine', 479000, 7.6, 7680, 'Action'),
 ('The Ministry of Ungentlemanly Warfare', 131000, 6.8, 7320, 'Action'),
 ('Civil War', 232000, 7.0, 6540, 'Action'),
 ('The Count of Monte-Cristo', 32000, 7.6, 10680, 'Action'),
 ('Twisters', 159000, 6.5, 7320, 'Action'),
 ('Carry-On', 159000, 6.5, 7140, 'Action'),
 ('The Crow', 32000, 4.7, 6660, 'Action'),
 ('Marco', 20000, 6.9, 8700, 'Action'),
 ('The Fall Guy', 216000, 6.8, 7560, 'Action'),
 ('The Beekeeper', 152000, 6.3, 6300, 'Action'),
 ('Kingdom of the Planet of the Apes', 149000, 6.9, 8700, 'Action'),
 ('Madame Web', 99000, 4.0, 6960, 'Action'),
 ('Homestead', 3, 5.4, 6720, 'Action'),
 ('Rebel Ridge', 85000, 6.8, 7860, 'Action'),
 ('Red One', 137000, 6.3, 7380, 'Action'),
 ('Thelma', 21000, 7.0, 5880, 'Action'),
 ('Hellboy: The Crooked Man', 12000, 4.5, 5940, 'Action'),
 ('Old Guy', 2, 5.1, 5640, 'Action'),
 ('Road House', 165000, 6.2, 7260, 'Action'),
 ('Transformers One', 47000, 7.6, 6240, 'Action'),
 ('Attack on Titan the Movie: The Last Attack', 14000, 9.3, 8700, 'Action'),
 ('Bad Boys: Ride or Die', 98000, 6.5, 6900, 'Action'),
 ('Argylle', 91000, 5.6, 8340, 'Action'),
 ('Damsel', 108000, 6.1, 6600, 'Action'),
 ('Solo Leveling: ReAwakening', 6, 8.7, 7260, 'Action'),
 ('Monkey Man', 90000, 6.8, 7260, 'Action'),
 ('Love Lies Bleeding', 56000, 6.6, 6240, 'Action'),
 ('Aftermath', 3, 5.1, 5820, 'Action'),
 ('Godzilla x Kong: The New Empire', 119000, 6.1, 6900, 'Action'),
 ('Baby John', 17000, 5.4, 9540, 'Action'),
 ('The Union', 52000, 5.4, 6420, 'Action'),
 ('Freaky Tales', 363, 6.4, 6360, 'Action'),
 ('Land of Bad', 50000, 6.6, 6780, 'Action'),
 ("The Killer's Game", 16000, 5.7, 6240, 'Action'),
 ('Absolution', 7, 5.2, 6720, 'Action'),
 ('Azrael', 10000, 5.4, 5160, 'Action'),
 ('Drive-Away Dolls', 23000, 5.4, 5040, 'Action'),
 ('Uglies', 32000, 4.7, 6000, 'Action'),
 ('Blitz', 15000, 6.2, 7200, 'Action'),
 ('Arcadian', 22000, 5.5, 5520, 'Action'),
 ('Werewolves', 6000, 4.4, 5580, 'Action'),
 ('Kung Fu Panda 4', 66000, 6.3, 5640, 'Action'),
 ('Descendants: The Rise of Red', 7, 4.7, 5460, 'Action'),
 ('The Killer', 12000, 5.7, 7560, 'Action'),
 ('Lift', 49000, 5.5, 6420, 'Action'),
 ('Beverly Hills Cop: Axel F', 80000, 6.4, 7080, 'Action'),
 ('The Instigators', 37000, 6.2, 6060, 'Action'),
 ('Weekend in Taipei', 4, 5.7, 6000, 'Action'),
 ('Apocalypse Z: The Beginning of the End', 19000, 6.1, 7020, 'Action'),
 ('Brothers', 13000, 5.4, 5340, 'Action'),
 ('Maharaja', 65000, 8.4, 8460, 'Action'),
 ('11 Rebels', 250, 6.2, 9300, 'Action'),
 ('Hagen', 987, 6.2, 8340, 'Action'),
 ('Canary Black', 11000, 5.3, 6060, 'Action'),
 ('Watchmen: Chapter I', 6, 7.0, 4980, 'Action'),
 ('Atlas', 55000, 5.6, 7080, 'Action'),
 ('Long Gone Heroes', 957, 5.2, 6060, 'Action'),
 ('The Silent Hour', 7000, 6.1, 5940, 'Action'),
 ('Kalki 2898 AD', 66000, 7.0, 10800, 'Action'),
 ('Dirty Angels', 3, 4.3, 6240, 'Action'),
 ('Hitpig', 825, 5.1, 5160, 'Action'),
 ('The Shadow Strays', 9, 6.5, 8640, 'Action'),
 ('Classified', 2, 3.6, 6300, 'Action'),
 ('Survive', 2000, 4.6, 5400, 'Action'),
 ('Rebel Moon - Part Two: The Scargiver', 59000, 5.3, 7320, 'Action'),
 ('Cash Out', 3, 4.8, 5520, 'Action'),
 ('Jackpot!', 30000, 5.8, 6360, 'Action'),
 ('Dominique', 2, 5.3, 6000, 'Action'),
 ('Twilight of the Warriors: Walled In', 9, 7.0, 7560, 'Action'),
 ('Trigger Warning', 19000, 4.6, 6360, 'Action'),
 ('Under Paris', 36000, 5.2, 6240, 'Action'),
 ('Gunner', 2, 3.2, 6360, 'Action'),
 ('No Way Up', 10000, 4.6, 5400, 'Action'),
 ('Boneyard', 5, 4.1, 5760, 'Action'),
 ('Watchmen: Chapter II', 3, 7.0, 5400, 'Action'),
 ('Death Whisperer 2', 1, 6.4, 6600, 'Action'),
 ('Armor', 4, 3.5, 5340, 'Action'),
 ('Megamind vs. The Doom Syndicate', 5, 2.5, 4980, 'Action'),
 ('Night Call', 2, 6.8, 5820, 'Action'),
 ('Aavesham', 27000, 7.8, 9300, 'Action'),
 ('Panda Plan', 1, 5.1, 5940, 'Action'),
 ('Agents', 878, 3.8, 4920, 'Action'),
 ('Red Right Hand', 6, 5.5, 6660, 'Action'),
 ('Damaged', 7, 4.7, 5820, 'Action'),
 ('Levels', 1, 5.0, 5580, 'Action'),
 ('River of Blood', 2, 5.4, 5160, 'Action'),
 ('Role Play', 19000, 5.5, 6000, 'Action'),
 ('Max', 3, 7.1, 7920, 'Action'),
 ('Take Cover', 2, 5.1, 5400, 'Action'),
 ('Harbin', 479, 6.5, 6480, 'Action'),
 ('Amaran', 18000, 8.2, 10020, 'Action'),
 ('Chief of Station', 4, 4.7, 5820, 'Action'),
 ("My Hero Academia: You're Next", 2, 7.0, 6600, 'Action'),
 ('Trouble', 7, 6.2, 5880, 'Action'),
 ('My Spy: The Eternal City', 11000, 5.7, 6720, 'Action'),
 ('Sunray: Fallen Soldier', 578, 4.3, 6900, 'Action'),
 ('Joe Baby', 25, 8.2, 5160, 'Action'),
 ('Uprising', 5, 6.6, 7560, 'Action'),
 ('Elyas', 1, 6.1, 6300, 'Action'),
 ('Dark Match', 825, 5.5, 5640, 'Action'),
 ('The Thundermans Return', 2, 5.0, 4200, 'Action'),
 ('Mafia Wars', 211, 3.4, 5640, 'Action'),
 ('Code 8: Part II', 16000, 5.7, 6000, 'Action'),
 ('The Fix', 1, 4.6, 5880, 'Action'),
 ('Singham Again', 75000, 4.8, 8640, 'Action'),
 ('Rifle Club', 4, 7.0, 6780, 'Action'),
 ('Simarik', 2, 6.4, 6660, 'Action'),
 ('Hounds of War', 2, 4.5, 5700, 'Action'),
 ('Sikandar Ka Muqaddar', 24000, 6.0, 8520, 'Action'),
 ('Drive Back', 286, 4.7, 5640, 'Action'),
 ('Rats!', 77, 8.0, 5100, 'Action'),
 ('Justice League: Crisis on Infinite Earths - Part One',
  8,
  6.2,
  5580,
  'Action'),
 ('Prey', 3, 3.7, 5160, 'Action'),
 ('Badland Hunters', 12000, 5.9, 6420, 'Action'),
 ('The Lost Tiger', 33, 7.8, 5400, 'Action'),
 ('The Courier', 4, 6.0, 6060, 'Action'),
 ('The Roundup: Punishment', 5000, 6.6, 6540, 'Action'),
 ('Raayan', 11000, 6.5, 8700, 'Action'),
 ('Darkness of Man', 3, 4.8, 6540, 'Action'),
 ('Cells at Work!', 164, 6.8, 6540, 'Action'),
 ('Officer Black Belt', 8, 6.8, 6480, 'Action'),
 ('The Prosecutor', 1, 6.8, 7020, 'Action'),
 ('Duchess', 1, 4.6, 6840, 'Action'),
 ('Justice League: Crisis on Infinite Earths - Part Three',
  4,
  6.1,
  5640,
  'Action'),
 ('The Price of Money: A Largo Winch Adventure', 1, 5.1, 6000, 'Action'),
 ('The Wages of Fear', 4000, 4.6, 6240, 'Action'),
 ('Bougainvillea', 3000, 6.4, 8280, 'Action'),
 ('The Quiet Ones', 511, 6.5, 6600, 'Action'),
 ('Pani', 3, 6.9, 8580, 'Action'),
 ("The Tiger's Apprentice", 2, 5.8, 5040, 'Action'),
 ('Arena Wars', 2000, 5.0, 5760, 'Action'),
 ('Devara Part 1', 20000, 6.0, 10560, 'Action'),
 ('Karma', 1, 8.1, 10020, 'Action'),
 ('City Hunter', 6, 6.3, 6120, 'Action'),
 ('I, the Executioner', 2, 6.3, 7080, 'Action'),
 ('One Fast Move', 2, 5.0, 6480, 'Action'),
 ('One More Shot', 4, 5.4, 6180, 'Action'),
 ('Golden Kamuy', 2, 6.3, 7620, 'Action'),
 ('Utopia', 337, 3.7, 5460, 'Action'),
 ('Cloud', 891, 6.3, 7380, 'Action'),
 ('Fight Another Day', 324, 5.1, 5820, 'Action'),
 ('Article 370', 24000, 7.8, 9480, 'Action'),
 ('Air Force One Down', 3, 4.4, 5040, 'Action'),
 ('Lights Out', 2, 4.9, 5400, 'Action'),
 ('Ultraman: Rising', 6, 6.9, 7020, 'Action'),
 ('200% Wolf', 1, 6.0, 5880, 'Action'),
 ('Fighter', 52000, 6.2, 9960, 'Action'),
 ('Life After Fighting', 2, 6.4, 7560, 'Action'),
 ('Continental Split', 532, 3.5, 5280, 'Action'),
 ('Die Hart 2: Die Harter', 5, 4.3, 5520, 'Action'),
 ('The Family Star', 5, 5.4, 9540, 'Action'),
 ('Zero', 38, 6.1, 5280, 'Action'),
 ('Angels Fallen: Warriors of Peace', 6, 4.9, 6180, 'Action'),
 ('Latency', 2, 4.2, 5640, 'Action'),
 ('Kill Em All 2', 1, 4.1, 5280, 'Action'),
 ('Echo 8', 166, 4.1, 5760, 'Action'),
 ('Agent Recon', 657, 2.4, 5100, 'Action'),
 ('Dan Da Dan: First Encounter', 2, 8.2, 4980, 'Action'),
 ('Murder Company', 2, 3.7, 5160, 'Action'),
 ('Ferry 2', 4, 5.6, 5640, 'Action'),
 ('Operation Blood Hunt', 455, 3.4, 5580, 'Action'),
 ('Freedom', 1, 5.9, 6600, 'Action'),
 ('Get Fast', 434, 3.6, 5280, 'Action'),
 ('Hijack 1971', 3, 6.8, 6000, 'Action'),
 ('Dharmarakshak Mahaveer Chhatrapati Sambhaji Maharaj',
  648,
  8.2,
  10440,
  'Action'),
 ('Anaconda', 600, 4.9, 5040, 'Action'),
 ('Alien: Rubicon', 327, 2.4, 5160, 'Action'),
 ('A Legend', 854, 4.7, 7740, 'Action'),
 ('Alangu', 1, 8.3, 7860, 'Action'),
 ('Wynonna Earp: Vengeance', 2, 5.6, 5760, 'Action'),
 ('Jigra', 23000, 6.0, 9180, 'Action'),
 ('Striking Rescue', 332, 5.7, 6360, 'Action'),
 ('Diabel', 198, 5.1, 6480, 'Action'),
 ('The Clean Up Crew', 1, 4.1, 5700, 'Action'),
 ('The Hangman', 983, 3.3, 5520, 'Action'),
 ('Justice League: Crisis on Infinite Earths - Part Two',
  5,
  5.5,
  5640,
  'Action'),
 ('Invasion', 664, 4.8, 5460, 'Action'),
 ('Savi', 35000, 6.2, 7560, 'Action'),
 ('Spiders on a Plane', 360, 5.7, 4680, 'Action'),
 ('Agni', 15000, 7.3, 7320, 'Action'),
 ('Revolver', 818, 5.4, 6840, 'Action'),
 ('Terminator: Skynet Rising', 258, 6.8, 5280, 'Action'),
 ('Hanu Man', 29000, 7.7, 9480, 'Action'),
 ('Demon Slayer: Kimetsu No Yaiba - To the Hashira Training',
  8,
  7.1,
  6240,
  'Action'),
 ('Sixty Minutes', 5, 5.7, 5280, 'Action'),
 ('Escape', 2, 6.4, 5640, 'Action'),
 ('The Last Kumite', 2, 4.6, 6300, 'Action'),
 ('London Calling', 17, 7.5, 6540, 'Action'),
 ('Outlaw', 901, 5.2, 4920, 'Action'),
 ('The Greatest of All Time', 22000, 5.7, 10980, 'Action'),
 ('Overlord: The Sacred Kingdom', 697, 7.0, 8100, 'Action'),
 ('72 Hours', 279, 4.1, 5220, 'Action'),
 ('Cassino in Ischia', 229, 4.4, 6780, 'Action'),
 ('Vettaiyan', 39000, 7.0, 9780, 'Action'),
 ('Baby Invasion', 58, 5.5, 4800, 'Action'),
 ('Heart of the Hunter', 2, 4.7, 6300, 'Action'),
 ('Alienoid: The Return to the Future', 2, 6.5, 7320, 'Action'),
 ('Handsome Guys', 746, 6.5, 6060, 'Action'),
 ('Snow White and the Seven Samurai', 262, 3.2, 5280, 'Action'),
 ('Operation Undead', 348, 4.6, 6600, 'Action'),
 ('Wanted Man', 2, 4.8, 5100, 'Action'),
 ('Razakar: The Silent Genocide of Hyderabad', 5, 7.4, 9960, 'Action'),
 ('Love, Courage and the Battle of Bushy Run', 171, 5.0, 6780, 'Action'),
 ('Bagheera', 7, 6.7, 9480, 'Action'),
 ('Kingdom 4: Return of the Great General', 1, 7.1, 8700, 'Action'),
 ('The Lockdown', 594, 4.3, 7020, 'Action'),
 ('War of the Worlds: Extinction', 171, 3.0, 5040, 'Action'),
 ("Ryan's World the Movie: Titan Universe Adventure",
  634,
  1.8,
  4800,
  'Action'),
 ('Viduthalai Part 2', 15000, 8.0, 10200, 'Action'),
 ('GTMax', 1, 5.0, 6000, 'Action'),
 ('Yodha', 9, 5.7, 7800, 'Action'),
 ('The Last Front', 596, 5.5, 5880, 'Action'),
 ('Mura', 6, 7.3, 7740, 'Action'),
 ('The Last Ronin', 223, 4.9, 7260, 'Action'),
 ('Vanvaas', 1, 6.7, 9600, 'Action'),
 ('Nice Girls', 1, 4.2, 5520, 'Action'),
 ('The Ballad of Davy Crockett', 244, 4.6, 5760, 'Action'),
 ('12 Gaun', 862, 6.3, 8820, 'Action'),
 ('Saripodhaa Sanivaaram', 9, 7.0, 9960, 'Action'),
 ('Chandu Champion', 34000, 7.8, 8520, 'Action'),
 ("Don't Mess with Grandma", 143, 6.1, 4860, 'Action'),
 ('Everybody Loves Jenifa', 77, 8.4, 8100, 'Action'),
 ('Thangalaan', 6, 6.6, 9360, 'Action'),
 ('Kanguva', 14000, 4.6, 9120, 'Action'),
 ('Je Jatt Vigarh Gya', 814, 5.7, 7920, 'Action'),
 ('Guntur Kaaram', 25000, 5.4, 9540, 'Action'),
 ('A.R.M', 8, 7.1, 9000, 'Action'),
 ('Vedaa', 4, 6.0, 8700, 'Action'),
 ('Devaki Nandana Vasudeva', 3, 8.9, 7680, 'Action'),
 ('Rogue Elements: A Ryan Drake Story', 913, 4.9, 2640, 'Action'),
 ('Memes & Nightmares', 73, 5.8, 4860, 'Action'),
 ('12 to Midnight', 273, 3.6, 5760, 'Action'),
 ('Mission: Cross', 2, 6.1, 6300, 'Action'),
 ('Roadkill', 672, 3.6, 5400, 'Action'),
 ('The Firefighters', 145, 5.8, 6360, 'Action'),
 ('Escape from the 21st Century', 809, 6.5, 5880, 'Action'),
 ('UI', 6, 6.9, 8100, 'Action'),
 ('Bachhala Malli', 4, 8.3, 8400, 'Action'),
 ('Lady Scorpions', 361, 3.6, 6060, 'Action'),
 ('How to Rob a Bank', 4, 6.6, 5280, 'Action'),
 ('Shark Warning', 247, 3.4, 5640, 'Action'),
 ('Alien Country', 349, 4.4, 5760, 'Action'),
 ('WWII: Operation Phoenix', 62, 6.7, 6360, 'Action'),
 ('Khadaan', 2000, 7.4, 8220, 'Action'),
 ('Bionic', 2, 4.3, 6600, 'Action'),
 ('The Bouncer', 80, 4.3, 4680, 'Action'),
 ('Mother Mafia', 47, 3.3, 4800, 'Action'),
 ('Martin', 36000, 2.3, 8820, 'Action'),
 ('Kuang Bao Ju Xi', 66, 6.2, 4500, 'Action'),
 ('Sector 17', 1, 7.4, 8760, 'Action'),
 ('Yolo', 4, 6.9, 7740, 'Action'),
 ('Bade Miyan Chote Miyan', 39000, 3.8, 9780, 'Action'),
 ('Baby Assassins: Nice Days', 267, 7.3, 6180, 'Action'),
 ('The Twisters', 314, 2.5, 5160, 'Action'),
 ('Hunting with Tigers', 505, 5.6, 6540, 'Action'),
 ("Devil's Knight", 774, 5.4, 5400, 'Action'),
 ('Rob N Roll', 1, 6.1, 5880, 'Action'),
 ('Bureau 749', 501, 4.1, 7380, 'Action'),
 ('Auron Mein Kahan Dum Tha', 40000, 6.6, 9000, 'Action'),
 ('40 Acres', 99, 6.4, 6780, 'Action'),
 ('Toofan', 6, 7.1, 8700, 'Action'),
 ('Citizen of a Kind', 769, 6.7, 6840, 'Action'),
 ('Pimpinero: Blood and Oil', 536, 5.7, 7260, 'Action'),
 ('Ka Whawhai Tonu', 169, 7.4, 6900, 'Action'),
 ('Eye for an Eye 2', 478, 6.5, 5400, 'Action'),
 ('The Friendly', 15, 8.1, 6060, 'Action'),
 ('S.T.A.L.K.E.R.: Shadow of the Zone', 446, 5.2, 4320, 'Action'),
 ('Hellhound', 486, 4.3, 6180, 'Action'),
 ('School of Magical Animals 3', 295, 5.9, 6300, 'Action'),
 ('Paradise', 77, 6.9, 4980, 'Action'),
 ('Mummy Shark', 166, 2.0, 3960, 'Action'),
 ('Bonus Trip', 217, 4.5, 6780, 'Action'),
 ('Agastya - Chapter 1', 576, 6.9, 10080, 'Action'),
 ('Kahar: Kapla High Council', 441, 7.0, 6120, 'Action'),
 ('The Day Everything Changed', 77, 7.9, 5820, 'Action'),
 ("Deaner '89", 413, 5.9, 5400, 'Action'),
 ('Zebra', 3, 8.0, 9840, 'Action'),
 ('Bangkok Breaking: Heaven and Hell', 652, 5.8, 8760, 'Action'),
 ('The Actor', 722, 3.3, 7680, 'Action'),
 ('The Last of Us: Immunity', 13, 6.3, 3840, 'Action'),
 ('Tillu Square', 3, 6.6, 8220, 'Action'),
 ('Crakk: Jeetega... Toh Jiyegaa', 6, 4.7, 9240, 'Action'),
 ('Captain Miller', 9, 6.5, 9420, 'Action'),
 ('The Charisma Killers', 521, 5.9, 6060, 'Action'),
 ('Siren', 3, 6.4, 9240, 'Action'),
 ('Yudhra', 13000, 5.0, 8520, 'Action'),
 ('Ayalaan', 4000, 6.0, 9300, 'Action'),
 ('Orang Ikan', 31, 6.5, 4980, 'Action'),
 ('Mr. Bachchan', 5, 3.6, 9000, 'Action'),
 ('Sorgavaasal', 1, 6.6, 8280, 'Action'),
 ('Taklee Genesis x Worlds Collide', 382, 5.5, 8760, 'Action'),
 ('Non Negotiable', 1, 5.4, 5220, 'Action'),
 ('Witch Hunter', 21, 5.1, 4800, 'Action'),
 ('Barroz: Guardian of Treasures', 940, 3.5, 9300, 'Action'),
 ('The Kingdom', 85, 7.9, 7980, 'Action'),
 ('(Pri)sons', 248, 5.0, 6000, 'Action'),
 ('Bangkok Dog', 94, 6.4, 5100, 'Action'),
 ('Crisis Negotiators', 691, 6.7, 7200, 'Action'),
 ('Sheriff', 1, 6.9, 7980, 'Action'),
 ('The Miranda Brothers', 187, 4.4, 5940, 'Action'),
 ('Sasan', 63, 8.5, 9300, 'Action'),
 ('I Heart Robots', 2, 4.6, 4560, 'Action'),
 ('Baki Hanma VS Kengan Ashura', 2, 5.7, 3720, 'Action'),
 ('Bidurbhai', 375, 9.2, 8880, 'Action'),
 ('Troubleshooters', 400, 6.4, 6600, 'Action'),
 ('Xiong Shi Shao Nian 2', 184, 7.5, 8040, 'Action'),
 ('Fyre Rises', 321, 6.5, 6600, 'Action'),
 ('Art of Eight Limbs', 303, 4.0, 6060, 'Action'),
 ('Eagle', 5, 5.9, 9540, 'Action'),
 ('KA', 2, 7.2, 9060, 'Action'),
 ('No Time to Spy: A Loud House Movie', 433, 6.4, 4860, 'Action'),
 ('Kamen Rider 555 20th: Paradise Regained', 141, 5.9, 3900, 'Action'),
 ('Big Rage', 149, 3.6, 6900, 'Action'),
 ('Guy Manley: Super Spy', 115, 4.5, 5520, 'Action'),
 ('Thundu', 900, 5.0, 7500, 'Action'),
 ('Garudan', 3, 7.1, 7980, 'Action'),
 ('Gandhi 3', 230, 5.5, 8580, 'Action'),
 ("My Fathers' Daughter", 71, 6.6, 4680, 'Action'),
 ('Mobile Suit Gundam SEED Freedom', 923, 6.6, 7440, 'Action'),
 ('The Drunken Prodigy', 13, 5.6, 6420, 'Action'),
 ('American Underdog', 23, 8.8, 5340, 'Action'),
 ('Sayen: The Huntress', 250, 4.4, 5280, 'Action'),
 ('Love You to Debt', 747, 6.2, 8100, 'Action'),
 ('Clone Cops', 185, 8.1, 5760, 'Action'),
 ('The Omicron Killer', 594, 2.9, 5880, 'Action'),
 ('Kaveri', 2, 9.1, 6060, 'Action'),
 ('Double Ismart', 2, 2.9, 9360, 'Action'),
 ('Nothing Even Matters', 71, 5.4, 5400, 'Action'),
 ('Anunnakiler', 426, 2.6, 4560, 'Action'),
 ('Warrior Awang and Master Tok Gajah', 473, 4.6, 7080, 'Action'),