In [45]:
#for action movie - 1296
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
import time
import pandas as pd

driver = webdriver.Chrome()
driver.get('https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=action')
driver.maximize_window()
time.sleep(2)

scrolling = True #initialize
while scrolling:
    try:
        # Locate the more_button
        more_button = driver.find_element(By.XPATH, "//span[@class='ipc-see-more__text']")
        time.sleep(2)
        
        # Scroll to Locate the more_button
        actions = ActionChains(driver)
        time.sleep(3)
        actions.move_to_element(more_button).perform()#it act as a curser
        time.sleep(5)
        
        # Click the button
        more_button.click()
        time.sleep(3)
        
    except:
        scrolling = False
        break



#create a list to append the data
movie_name = []
voting = []
rating = []
duration = []

#movies xpath
action_movies = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')


for action_movie in action_movies:
   try:
       movie_names = action_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
       movie_votings = action_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
       movie_ratings = action_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
       movie_duration = action_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text                                                  
       
       #append the data into list
       movie_name.append(movie_names)
       voting.append(movie_votings)
       rating.append(movie_ratings)
       duration.append(movie_duration)
   except:
       continue


#create a dataframe
action_movie_df = pd.DataFrame({
    'Movie_name':movie_name,
    'Voting':voting,
    'Rating': rating,
    'Duration':duration
})

driver.quit()

action_movie_df

                          Movie_name   Voting Rating Duration
0                    1. Gladiator II   (189K)    6.6   2h 28m
1            2. Sonic the Hedgehog 3    (39K)    7.0   1h 50m
2       3. Pushpa: The Rule - Part 2    (48K)    6.2   3h 21m
3               4. The Killer's Game    (13K)    5.7   1h 44m
4                  5. Dune: Part Two   (592K)    8.5   2h 46m
..                               ...      ...    ...      ...
756  1208. PW V: Tears of the Fallen     (11)    8.2       1h
757                 1225. The Mirage      (9)    9.4   1h 46m
758              1241. Jefa De Jefas      (6)    8.8   1h 22m
759     1244. Sehnsucht nach Firdaws      (6)    8.5   1h 43m
760                    1268. Gadha17     (11)    8.0   1h 30m

[761 rows x 4 columns]

In [47]:
#for data cleaning

# remove integer and dot(movie_name)
import re #regular expression
action_movie_df['Movie_name']= action_movie_df['Movie_name'].str.replace(r'^\d+\.\s*', '', regex = True)

#clean the Voting column
def clean_voting(vote):
    return vote.replace('(', '').replace(')', '').replace('K', '000')

# Apply to Voting column
action_movie_df['Voting'] = action_movie_df['Voting'].apply(clean_voting)


import pandas as pd

# Create DataFrame
df = pd.DataFrame(data)

# Apply cleaning function
df['Voting'] = df['Voting'].apply(clean_voting)

# Print cleaned data
print(df)


#clean the duration:
def convert_to_seconds(duration): # 2h 7m
    hours = 0
    minutes = 0
    splitt = duration.split() #['2h','7m']
    for splitts in splitt:
        if 'h' in splitts:
            hours = int(splitts.replace('h', '')) #[2 ,'7m']
        if 'm' in splitts:
            minutes = int(splitts.replace('m', '')) # [2 , 7]

    return hours* 3600 + minutes * 60

# Apply to duration column
action_movie_df['Duration'] = action_movie_df['Duration'].apply(convert_to_seconds) 

action_movie_df

                    Movie_name   Voting Rating  Duration
0                 Gladiator II   189000    6.6      8880
1         Sonic the Hedgehog 3    39000    7.0      6600
2    Pushpa: The Rule - Part 2    48000    6.2     12060
3            The Killer's Game    13000    5.7      6240
4               Dune: Part Two   592000    8.5      9960
..                         ...      ...    ...       ...
756  PW V: Tears of the Fallen       11    8.2      3600
757                 The Mirage        9    9.4      6360
758              Jefa De Jefas        6    8.8      4920
759     Sehnsucht nach Firdaws        6    8.5      6180
760                    Gadha17       11    8.0      5400

[761 rows x 4 columns]

In [51]:
#war movie 127
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
import time
import pandas as pd


driver = webdriver.Chrome()
driver.get('https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=war')
driver.maximize_window()
time.sleep(2)

scrolling = True #initialize
while scrolling:
    try:
        # Locate the more_button
        more_button = driver.find_element(By.XPATH, "//span[@class='ipc-see-more__text']")
        time.sleep(2)
        
        # Scroll to Locate the more_button
        actions = ActionChains(driver)
        time.sleep(3)
        actions.move_to_element(more_button).perform()
        time.sleep(5)
        
        # Click the button
        more_button.click()
        time.sleep(3)
        
        
    except:
        pass
        scrolling = False


movie_name = []
voting = []
rating = []
duration = []

war_movies = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')

    #print(i.text)
for war_movie in war_movies:
   try:
       movie_names = war_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
       movie_votings = war_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
       movie_ratings = war_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
       movie_duration = war_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text                                                  
       
       #append the data into list
       movie_name.append(movie_names)
       voting.append(movie_votings)
       rating.append(movie_ratings)
       duration.append(movie_duration)
   except:
       pass


#create a dataframe
war_movie_df = pd.DataFrame({
    'Movie_name':movie_name,
    'Voting':voting,
    'Rating': rating,
    'Duration':duration
})



driver.quit()

In [61]:
war_movie_df

                               Movie_name   Voting Rating  Duration
0                    The Six Triple Eight    21000    6.7      7620
1                                  Nr. 24    12000    7.5      6660
2   The Ministry of Ungentlemanly Warfare   127000    6.8      7320
3                                   Blitz    14000    6.2      7200
4                                  Amaran    17000    8.2     10020
..                                    ...      ...    ...       ...
69                          Eddy's oorlog       44    7.7      6060
70                          Krasnye lenty       16    5.5      3720
71             Por ti, Portugal, eu juro!        5    7.6      5880
72                         Krigsvarsleren        6    7.2      3300
73                 Dosije Kosovo - Pogrom        5    7.6      6540

[74 rows x 4 columns]

In [ ]:

#def function_name(parameters):
#return result

#def add_numbers(a, b):
    #return a + b
#result = add_numbers(3, 5)
#print(result)

In [63]:
#for data cleaning

# remove integer and dot(movie_name)
import re #regular expression
war_movie_df['Movie_name']= war_movie_df['Movie_name'].str.replace(r'^\d+\.\s*', '', regex = True)

#clean the Voting column
def clean_voting(vote):
    return vote.replace('(', '').replace(')', '').replace('K', '000')

# Apply to Voting column
war_movie_df['Voting'] = war_movie_df['Voting'].apply(clean_voting) 

war_movie_df

                               Movie_name   Voting Rating  Duration
0                    The Six Triple Eight    21000    6.7      7620
1                                  Nr. 24    12000    7.5      6660
2   The Ministry of Ungentlemanly Warfare   127000    6.8      7320
3                                   Blitz    14000    6.2      7200
4                                  Amaran    17000    8.2     10020
..                                    ...      ...    ...       ...
69                          Eddy's oorlog       44    7.7      6060
70                          Krasnye lenty       16    5.5      3720
71             Por ti, Portugal, eu juro!        5    7.6      5880
72                         Krigsvarsleren        6    7.2      3300
73                 Dosije Kosovo - Pogrom        5    7.6      6540

[74 rows x 4 columns]

In [57]:
#clean the duration:
def convert_to_seconds(duration): # 2h 7m
    hours = 0
    minutes = 0
    splitt = duration.split() #['2h','7m']
    for splitts in splitt:
        if 'h' in splitts:
            hours = int(splitts.replace('h', '')) #[2 ,'7m']
        if 'm' in splitts:
            minutes = int(splitts.replace('m', '')) # [2 , 7]

    return hours* 3600 + minutes * 60

# Apply to duration column
war_movie_df['Duration'] = war_movie_df['Duration'].apply(convert_to_seconds) 

war_movie_df

                               Movie_name   Voting Rating  Duration
0                    The Six Triple Eight    21000    6.7      7620
1                                  Nr. 24    12000    7.5      6660
2   The Ministry of Ungentlemanly Warfare   127000    6.8      7320
3                                   Blitz    14000    6.2      7200
4                                  Amaran    17000    8.2     10020
..                                    ...      ...    ...       ...
69                          Eddy's oorlog       44    7.7      6060
70                          Krasnye lenty       16    5.5      3720
71             Por ti, Portugal, eu juro!        5    7.6      5880
72                         Krigsvarsleren        6    7.2      3300
73                 Dosije Kosovo - Pogrom        5    7.6      6540

[74 rows x 4 columns]

In [77]:
#for biography movie - 440
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
import time
import pandas as pd

driver = webdriver.Chrome()
driver.get('https://www.imdb.com/search/title/?title_type=feature&genres=biography&release_date=2024-01-01,2024-12-31')
driver.maximize_window()
time.sleep(2)

scrolling = True #initialize
while scrolling:
    try:
        # Locate the more_button
        more_button = driver.find_element(By.XPATH, "//span[@class='ipc-see-more__text']")
        time.sleep(2)
        
        # Scroll to Locate the more_button
        actions = ActionChains(driver)
        time.sleep(3)
        actions.move_to_element(more_button).perform()
        time.sleep(5)
        
        # Click the button
        more_button.click()
        time.sleep(3)
        
        
    except:
        scrolling = False


movie_name = []
voting = []
rating = []
duration = []

biography_movies = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')


for biography_movie in biography_movies:
   try:                                           
       movie_names = biography_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
       movie_votings = biography_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
       movie_ratings = biography_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
       movie_duration = biography_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text                                                  
       
       #append the data into list
       movie_name.append(movie_names)
       voting.append(movie_votings)
       rating.append(movie_ratings)
       duration.append(movie_duration)
   except:
    continue
       


#create a dataframe
biography_movie_df = pd.DataFrame({
    'Movie_name':movie_name,
    'Voting':voting,
    'Rating': rating,
    'Duration':duration
})

driver.quit()
biography_movie_df

                                       Movie_name  Voting Rating Duration
0                               1. Saturday Night   (22K)    7.0   1h 49m
1                           2. A Complete Unknown   (25K)    7.7   2h 21m
2                               3. I'm Still Here   (19K)    8.8   2h 17m
3                               4. The Apprentice   (37K)    7.1    2h 2m
4                                   5. Better Man   (12K)    7.7   2h 15m
..                                            ...     ...    ...      ...
235                         384. Palace Guardians     (7)    9.3    1h 4m
236                                   389. Gevart    (69)    7.3      34m
237            395. Beyaz Zenciler: Yapim Asamasi     (5)    8.6      55m
238                           408. Davaj Paradiso    (26)    9.1    1h 3m
239  413. Georges Pompidou, la cruautÃ© du pouvoir     (6)    6.2   1h 44m

[240 rows x 4 columns]

In [79]:
#for data cleaning

# remove integer and dot(movie_name)
import re #regular expression
biography_movie_df['Movie_name']= biography_movie_df['Movie_name'].str.replace(r'^\d+\.\s*', '', regex = True)

#clean the Voting column
def clean_voting(vote):
    return vote.replace('(', '').replace(')', '').replace('K', '000')

# Apply to Voting column
biography_movie_df['Voting'] = biography_movie_df['Voting'].apply(clean_voting) 

#clean the duration:
def convert_to_seconds(duration): # 2h 7m
    hours = 0
    minutes = 0
    splitt = duration.split() #['2h','7m']
    for splitts in splitt:
        if 'h' in splitts:
            hours = int(splitts.replace('h', '')) #[2 ,'7m']
        if 'm' in splitts:
            minutes = int(splitts.replace('m', '')) # [2 , 7]

    return hours* 3600 + minutes * 60

# Apply to duration column
biography_movie_df['Duration'] = biography_movie_df['Duration'].apply(convert_to_seconds) 

biography_movie_df

                                  Movie_name  Voting Rating  Duration
0                             Saturday Night   22000    7.0      6540
1                         A Complete Unknown   25000    7.7      8460
2                             I'm Still Here   19000    8.8      8220
3                             The Apprentice   37000    7.1      7320
4                                 Better Man   12000    7.7      8100
..                                       ...     ...    ...       ...
235                         Palace Guardians       7    9.3      3840
236                                   Gevart      69    7.3      2040
237            Beyaz Zenciler: Yapim Asamasi       5    8.6      3300
238                           Davaj Paradiso      26    9.1      3780
239  Georges Pompidou, la cruautÃ© du pouvoir       6    6.2      6240

[240 rows x 4 columns]

In [91]:
#animation movie 393
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
import time
import pandas as pd

driver = webdriver.Chrome()
driver.get('https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=animation')
driver.maximize_window()
time.sleep(2)

scrolling = True #initialize
while scrolling:
    try:
        # Locate the more_button
        more_button = driver.find_element(By.XPATH, "//span[@class='ipc-see-more__text']")
        time.sleep(2)
        
        # Scroll to Locate the more_button
        actions = ActionChains(driver)
        time.sleep(3)
        actions.move_to_element(more_button).perform()
        time.sleep(5)
        
        # Click the button
        more_button.click()
        time.sleep(3)
        
        
    except:
        scrolling = False


movie_name = []
voting = []
rating = []
duration = []

animation_movies = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')


for animation_movie in animation_movies:
   try:
       movie_names = animation_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
       movie_votings = animation_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
       movie_ratings = animation_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
       movie_duration = animation_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text                                                  
       
       #append the data into list
       movie_name.append(movie_names)
       voting.append(movie_votings)
       rating.append(movie_ratings)
       duration.append(movie_duration)
   except:
       continue


#create a dataframe
animation_movie_df = pd.DataFrame({
    'Movie_name':movie_name,
    'Voting':voting,
    'Rating': rating,
    'Duration':duration
})

#animation_movie_df.to_csv('animation_movie.csv',index=False)

#driver.quit()
animation_movie_df

                                       Movie_name   Voting Rating Duration
0                               1. The Wild Robot   (128K)    8.2   1h 42m
1                        2. Mufasa: The Lion King    (36K)    6.7   1h 58m
2                                      3. Moana 2    (72K)    6.9   1h 40m
3                                         4. Flow    (28K)    7.9   1h 25m
4                                 5. Inside Out 2   (203K)    7.6   1h 36m
..                                            ...      ...    ...      ...
202                  269. 2475 Dawn of Revolution    (151)    6.7    2h 7m
203  294. Let's Go! Anpanman: Baikinman and Lulun      (7)    6.5    1h 4m
204                             295. Sirds likums     (15)    6.5    1h 5m
205                          297. Isle: Alpha One      (6)    8.4   1h 37m
206           331. Bie ba zuo wen dang hui shi er     (10)    7.2   1h 29m

[207 rows x 4 columns]

In [93]:
#for data cleaning

# remove integer and dot(movie_name)
import re #regular expression
animation_movie_df['Movie_name']= animation_movie_df['Movie_name'].str.replace(r'^\d+\.\s*', '', regex = True)

#clean the Voting column
def clean_voting(vote):
    return vote.replace('(', '').replace(')', '').replace('K', '000')

# Apply to Voting column
animation_movie_df['Voting'] = animation_movie_df['Voting'].apply(clean_voting) 

#clean the duration:
def convert_to_seconds(duration): # 2h 7m
    hours = 0
    minutes = 0
    splitt = duration.split() #['2h','7m']
    for splitts in splitt:
        if 'h' in splitts:
            hours = int(splitts.replace('h', '')) #[2 ,'7m']
        if 'm' in splitts:
            minutes = int(splitts.replace('m', '')) # [2 , 7]

    return hours* 3600 + minutes * 60

# Apply to duration column
animation_movie_df['Duration'] = animation_movie_df['Duration'].apply(convert_to_seconds) 

animation_movie_df

                                  Movie_name   Voting Rating  Duration
0                             The Wild Robot   128000    8.2      6120
1                      Mufasa: The Lion King    36000    6.7      7080
2                                    Moana 2    72000    6.9      6000
3                                       Flow    28000    7.9      5100
4                               Inside Out 2   203000    7.6      5760
..                                       ...      ...    ...       ...
202                  2475 Dawn of Revolution      151    6.7      7620
203  Let's Go! Anpanman: Baikinman and Lulun        7    6.5      3840
204                             Sirds likums       15    6.5      3900
205                          Isle: Alpha One        6    8.4      5820
206           Bie ba zuo wen dang hui shi er       10    7.2      5340

[207 rows x 4 columns]

In [131]:
#adventure movie - 577
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
import time
import pandas as pd

driver = webdriver.Chrome()
driver.get('https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=adventure')
driver.maximize_window()
time.sleep(2)

scrolling = True #initialize
while scrolling:
    try:
        # Locate the more_button
        more_button = driver.find_element(By.XPATH, "//span[@class='ipc-see-more__text']")
        time.sleep(2)
        
        # Scroll to Locate the more_button
        actions = ActionChains(driver)
        time.sleep(3)
        actions.move_to_element(more_button).perform()
        time.sleep(5)
        
        # Click the button
        more_button.click()
        time.sleep(3)
        
        
    except:
        scrolling = False


movie_name = []
voting = []
rating = []
duration = []

adventure_movies = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')

    #print(i.text)
for adventure_movie in adventure_movies:
   try:
       movie_names = adventure_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
       movie_votings = adventure_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
       movie_ratings = adventure_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
       movie_duration = adventure_movie.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text                                                  
       
       #append the data into list
       movie_name.append(movie_names)
       voting.append(movie_votings)
       rating.append(movie_ratings)
       duration.append(movie_duration)
   except:
       continue


#create a dataframe
adventure_movie_df = pd.DataFrame({
    'Movie_name':movie_name,
    'Voting':voting,
    'Rating': rating,
    'Duration':duration
})
driver.quit()
adventure_movie_df

                             Movie_name   Voting Rating Duration
0                       1. Gladiator II   (189K)    6.6   2h 28m
1               2. Sonic the Hedgehog 3    (40K)    7.0   1h 50m
2              3. Mufasa: The Lion King    (36K)    6.7   1h 58m
3                            4. Moana 2    (72K)    6.9   1h 40m
4                               5. Flow    (28K)    7.9   1h 25m
..                                  ...      ...    ...      ...
349      531. Okhota na russkogo geniya      (6)    2.5   1h 11m
350                  542. The Blinkless     (12)    7.8      59m
351      544. PW V: Tears of the Fallen     (11)    8.2       1h
352         556. Sehnsucht nach Firdaws      (6)    8.5   1h 43m
353  557. Beyaz Zenciler: Yapim Asamasi      (5)    8.6      55m

[354 rows x 4 columns]

In [133]:
#for data cleaning

# remove integer and dot(movie_name)
import re #regular expression
adventure_movie_df['Movie_name']= adventure_movie_df['Movie_name'].str.replace(r'^\d+\.\s*', '', regex = True)

#clean the Voting column
def clean_voting(vote):
    return vote.replace('(', '').replace(')', '').replace('K', '000')

# Apply to Voting column
adventure_movie_df['Voting'] = adventure_movie_df['Voting'].apply(clean_voting) 

#clean the duration:
def convert_to_seconds(duration): # 2h 7m
    hours = 0
    minutes = 0
    splitt = duration.split() #['2h','7m']
    for splitts in splitt:
        if 'h' in splitts:
            hours = int(splitts.replace('h', '')) #[2 ,'7m']
        if 'm' in splitts:
            minutes = int(splitts.replace('m', '')) # [2 , 7]

    return hours* 3600 + minutes * 60 #[2*3600 + 7*60]

# Apply to duration column
adventure_movie_df['Duration'] = adventure_movie_df['Duration'].apply(convert_to_seconds) 

adventure_movie_df

                        Movie_name   Voting Rating  Duration
0                     Gladiator II   189000    6.6      8880
1             Sonic the Hedgehog 3    40000    7.0      6600
2            Mufasa: The Lion King    36000    6.7      7080
3                          Moana 2    72000    6.9      6000
4                             Flow    28000    7.9      5100
..                             ...      ...    ...       ...
349      Okhota na russkogo geniya        6    2.5      4260
350                  The Blinkless       12    7.8      3540
351      PW V: Tears of the Fallen       11    8.2      3600
352         Sehnsucht nach Firdaws        6    8.5      6180
353  Beyaz Zenciler: Yapim Asamasi        5    8.6      3300

[354 rows x 4 columns]

In [69]:
#convert df to csv
war_movie_df.to_csv("war_movies_df.csv", index=False)

In [49]:
action_movie_df.to_csv("action_movies.csv", index=False)

In [81]:
biography_movie_df.to_csv("biography_movies.csv", index=False)

In [95]:
animation_movie_df.to_csv("Animation_movies.csv", index=False)

In [135]:
adventure_movie_df.to_csv("adventure_movies.csv", index=False)

In [5]:
import pandas as pd

In [5]:
pd.concat([pd.read_csv(f) for f in["war_movies_df.csv","action_movies.csv","biography_movies.csv","Animation_movies.csv","adventure_movies.csv"]]).to_csv('IMDB_2024_movies.csv',index = False)

In [17]:
IMDB_2024_movies = pd.read_csv('IMDB_2024_movies.csv')

In [19]:
IMDB_2024_movies

,Movie_name,Voting,Rating,Duration,Gener
0,The Six Triple Eight,21000.0,6.7,7620,War
1,Nr. 24,12000.0,7.5,6660,War
2,The Ministry of Ungentlemanly Warfare,127000.0,6.8,7320,War
3,Blitz,14000.0,6.2,7200,War
4,Amaran,17000.0,8.2,10020,War
...,...,...,...,...,...
1631,Okhota na russkogo geniya,6.0,2.5,4260,Adventure
1632,The Blinkless,12.0,7.8,3540,Adventure
1633,PW V: Tears of the Fallen,11.0,8.2,3600,Adventure
1634,Sehnsucht nach Firdaws,6.0,8.5,6180,Adventure
1635,Beyaz Zenciler: Yapim Asamasi,5.0,8.6,3300,Adventure

In [11]:
IMDB_2024_movies.shape

(1636, 5)

In [13]:
IMDB_2024_movies.columns

Index(['Movie_name', 'Voting', 'Rating', 'Duration', 'Gener'], dtype='object')

In [15]:
IMDB_2024_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1636 entries, 0 to 1635
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie_name  1636 non-null   object
 1   Voting      1636 non-null   float64
 2   Rating      1636 non-null   float64
 3   Duration    1636 non-null   int64
 4   Gener       1636 non-null   object
dtypes: float64(2), int64(1), object(2)
memory usage: 64.0+ KB

In [17]:
IMDB_2024_movies.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1631    False
1632    False
1633    False
1634    False
1635    False
Length: 1636, dtype: bool

In [19]:
IMDB_2024_movies.duplicated().sum()

0

In [21]:
IMDB_2024_movies.isnull()

      Movie_name  Voting  Rating  Duration  Gener
0          False   False   False     False  False
1          False   False   False     False  False
2          False   False   False     False  False
3          False   False   False     False  False
4          False   False   False     False  False
...          ...     ...     ...       ...    ...
1631       False   False   False     False  False
1632       False   False   False     False  False
1633       False   False   False     False  False
1634       False   False   False     False  False
1635       False   False   False     False  False

[1636 rows x 5 columns]

In [23]:
IMDB_2024_movies.isnull().sum()

Movie_name    0
Voting        0
Rating        0
Duration      0
Gener         0
dtype: int64

# SQL

In [3]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\admin\anaconda3\lib\site-packages (1.1.1)

In [5]:
import pymysql 
import pandas as pd

In [7]:
dbconnection =pymysql.connect(
    host = "localhost",
    database = "mat2",
    user = "mat2",
    password = "0701"
)

In [9]:
curr = dbconnection.cursor()

In [11]:
#create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS movies(
Movie_name VARCHAR(150),
Voting INT,
Rating FLOAT,
Duration INT,
Gener VARCHAR(25)
)
"""

In [21]:
df = IMDB_2024_movies

In [23]:
#insert the data into the table
insert_query = """
INSERT INTO movies(Movie_name, Voting, Rating, Duration, Gener) VALUES (%s, %s, %s, %s, %s)
"""

In [25]:
# Iterate over the DataFrame and insert each row
for index, row in df.iterrows():
    curr.execute(insert_query, (row['Movie_name'], row['Voting'], row['Rating'], row['Duration'], row['Gener']))

In [27]:
# Run a SELECT query to fetch all rows
select_query = "SELECT * FROM movies"
curr.execute(select_query)

# Fetch all rows from the result of the query
rows = curr.fetchall()

# Display the rows
#for row in rows:
    #print(row)
dbconnection.commit()

In [31]:
rows

(('The Six Triple Eight', 21000, 6.7, 7620, 'War'),
 ('Nr. 24', 12000, 7.5, 6660, 'War'),
 ('The Ministry of Ungentlemanly Warfare', 127000, 6.8, 7320, 'War'),
 ('Blitz', 14000, 6.2, 7200, 'War'),
 ('Amaran', 17000, 8.2, 10020, 'War'),
 ('William Tell', 278, 6.3, 7980, 'War'),
 ('My Dead Friend Zoe', 265, 7.2, 5880, 'War'),
 ('Laws of Man', 266, 4.3, 5880, 'War'),
 ('Uprising', 5, 6.6, 7560, 'War'),
 ('Murder Company', 2, 3.6, 5160, 'War'),
 ('Love, Courage and the Battle of Bushy Run', 138, 5.1, 6780, 'War'),
 ('Escape from Germany', 763, 5.3, 5820, 'War'),
 ('Putin', 454, 3.0, 6540, 'War'),
 ('Never Alone', 305, 7.1, 5100, 'War'),
 ('Goebbels and the FÃ¼hrer', 2, 6.7, 8100, 'War'),
 ('Quisling: The Final Days', 880, 7.1, 8760, 'War'),
 ('Decoded', 380, 5.8, 9360, 'War'),
 ('Dharmarakshak Mahaveer Chhatrapati Sambhaji Maharaj',
  545,
  8.0,
  10440,
  'War'),
 ('Invasion', 641, 4.8, 5460, 'War'),
 ('The Witch: Revenge', 695, 5.3, 6000, 'War'),
 ('Without Blood', 82, 7.5, 5460, 'War'),
 ('Before Dawn', 881, 5.4, 6060, 'War'),
 ('Canadian, Sniper', 329, 3.6, 4980, 'War'),
 ('Ka Whawhai Tonu', 154, 7.5, 6900, 'War'),
 ('Chandu Champion', 33000, 7.8, 8520, 'War'),
 ('The Last Front', 558, 5.5, 5880, 'War'),
 ('AtatÃ¼rk II: 1881-1919', 2, 9.0, 8460, 'War'),
 ('Bau: Artist at War', 46, 7.6, 7800, 'War'),
 ('The Friendly', 11, 8.0, 6060, 'War'),
 ('Chhava', 1, 9.2, 3060, 'War'),
 ('WWII: Operation Phoenix', 45, 7.7, 6360, 'War'),
 ('Orang Ikan', 28, 6.5, 4980, 'War'),
 ('The Volunteers: The Battle of Life and Death', 187, 6.2, 8640, 'War'),
 ('Battlefield', 528, 6.2, 6240, 'War'),
 ('Kang Mak', 604, 6.4, 7320, 'War'),
 ('Bozji gnjev', 41, 7.5, 6660, 'War'),
 ('24 Hours to D-Day', 27, 5.0, 4980, 'War'),
 ('The Shamrock Spitfire', 451, 5.2, 6480, 'War'),
 ('The Yin Yang Master Zero', 227, 5.7, 6720, 'War'),
 ('Conquer: Lahad Datu', 471, 6.7, 7200, 'War'),
 ('White Courage', 580, 6.3, 6900, 'War'),
 ('The Epidemic', 67, 5.9, 5700, 'War'),
 ('War Blade', 246, 3.9, 5640, 'War'),
 ('Russians at War', 980, 1.7, 7740, 'War'),
 ('Hitler', 298, 5.2, 7680, 'War'),
 ('Klitschko: More Than a Fight', 476, 6.3, 5760, 'War'),
 ('Bardejov', 163, 4.7, 5100, 'War'),
 ('Fortunes of War', 171, 3.5, 5100, 'War'),
 ('October 7 - Al Jazeera Investigations', 36, 6.6, 3600, 'War'),
 ('Ludzie', 16, 6.9, 7020, 'War'),
 ('Red Poppies', 287, 4.7, 7320, 'War'),
 ('Burning Stars', 35, 6.7, 5040, 'War'),
 ('The Liberation Men', 67, 6.6, 5400, 'War'),
 ('Aserb: The Squadron', 284, 5.2, 7200, 'War'),
 ('Dao, Pho Va Piano', 182, 5.9, 6000, 'War'),
 ('Air War', 109, 6.5, 6360, 'War'),
 ('The Dugout', 739, 5.5, 6840, 'War'),
 ('Blood Vendetta', 233, 7.6, 5400, 'War'),
 ('We Were Recruits', 215, 7.0, 5520, 'War'),
 ('America, Invaded', 17, 7.6, 4920, 'War'),
 ('Operation Star', 23, 7.6, 6120, 'War'),
 ('Pidyomna syla', 56, 8.8, 5220, 'War'),
 ('Pozyvnoy Â«PassazhirÂ»', 207, 4.8, 6060, 'War'),
 ('Vremya vernutsya', 7, 8.8, 6000, 'War'),
 ('Korni', 13, 8.3, 8220, 'War'),
 ('Village of Death: Oradour-sur-Glane 1944', 11, 7.9, 3480, 'War'),
 ('Kara Kyz', 18, 4.8, 6660, 'War'),
 ('Sem chyornykh bumag', 53, 6.6, 5760, 'War'),
 ('Los indomables', 9, 6.5, 6360, 'War'),
 ("Eddy's oorlog", 44, 7.7, 6060, 'War'),
 ('Krasnye lenty', 16, 5.5, 3720, 'War'),
 ('Por ti, Portugal, eu juro!', 5, 7.6, 5880, 'War'),
 ('Krigsvarsleren', 6, 7.2, 3300, 'War'),
 ('Dosije Kosovo - Pogrom', 5, 7.6, 6540, 'War'),
 ('Gladiator II', 189000, 6.6, 8880, 'Action'),
 ('Sonic the Hedgehog 3', 39000, 7.0, 6600, 'Action'),
 ('Pushpa: The Rule - Part 2', 48000, 6.2, 12060, 'Action'),
 ("The Killer's Game", 13000, 5.7, 6240, 'Action'),
 ('Dune: Part Two', 592000, 8.5, 9960, 'Action'),
 ('Kraven the Hunter', 34000, 5.4, 7620, 'Action'),
 ('Carry-On', 148000, 6.5, 7140, 'Action'),
 ('Deadpool & Wolverine', 462000, 7.6, 7680, 'Action'),
 ('Civil War', 224000, 7.0, 6540, 'Action'),
 ('Venom: The Last Dance', 90000, 6.0, 6600, 'Action'),
 ('Furiosa: A Mad Max Saga', 266000, 7.5, 8880, 'Action'),
 ('Marco', 16000, 7.4, 8700, 'Action'),
 ('The Count of Monte-Cristo', 28000, 7.6, 10680, 'Action'),
 ('The Fall Guy', 208000, 6.8, 7560, 'Action'),
 ('Arcadian', 21000, 5.5, 5520, 'Action'),
 ('Twisters', 153000, 6.5, 7320, 'Action'),
 ('The Ministry of Ungentlemanly Warfare', 127000, 6.8, 7320, 'Action'),
 ('Borderlands', 40000, 4.6, 6060, 'Action'),
 ('Homestead', 2, 5.6, 6720, 'Action'),
 ('The Lord of the Rings: The War of the Rohirrim',
  22000,
  6.4,
  8040,
  'Action'),
 ('The Beekeeper', 149000, 6.3, 6300, 'Action'),
 ('Bad Boys: Ride or Die', 94000, 6.5, 6900, 'Action'),
 ('Red One', 132000, 6.3, 7380, 'Action'),
 ('Elevation', 11000, 5.6, 5460, 'Action'),
 ('Rebel Ridge', 81000, 6.8, 7860, 'Action'),
 ('Kingdom of the Planet of the Apes', 145000, 6.9, 8700, 'Action'),
 ('Love Lies Bleeding', 53000, 6.6, 6240, 'Action'),
 ('Transformers One', 44000, 7.6, 6240, 'Action'),
 ('Godzilla x Kong: The New Empire', 117000, 6.1, 6900, 'Action'),
 ('Werewolves', 5, 4.4, 5580, 'Action'),
 ('The Crow', 30000, 4.7, 6660, 'Action'),
 ('The Killer', 11000, 5.7, 7560, 'Action'),
 ('Blitz', 14000, 6.2, 7200, 'Action'),
 ('Madame Web', 97000, 4.0, 6960, 'Action'),
 ('Twilight of the Warriors: Walled In', 8, 7.0, 7560, 'Action'),
 ('Road House', 163000, 6.2, 7260, 'Action'),
 ('Argylle', 90000, 5.6, 8340, 'Action'),
 ('Azrael', 9000, 5.4, 5160, 'Action'),
 ('The Union', 51000, 5.4, 6420, 'Action'),
 ('Monkey Man', 87000, 6.8, 7260, 'Action'),
 ('Damsel', 106000, 6.1, 6600, 'Action'),
 ('Sunray: Fallen Soldier', 425, 4.3, 6900, 'Action'),
 ('Land of Bad', 49000, 6.6, 6780, 'Action'),
 ('Solo Leveling: ReAwakening', 3, 8.4, 7260, 'Action'),
 ('Dark Match', 391, 5.7, 5640, 'Action'),
 ('Absolution', 6, 5.2, 6720, 'Action'),
 ('Amaran', 17000, 8.2, 10020, 'Action'),
 ('Drive-Away Dolls', 22000, 5.4, 5040, 'Action'),
 ('Kung Fu Panda 4', 65000, 6.3, 5640, 'Action'),
 ('Maharaja', 63000, 8.4, 8460, 'Action'),
 ('Thelma', 19000, 7.0, 5880, 'Action'),
 ('Uglies', 31000, 4.7, 6000, 'Action'),
 ('Hellboy: The Crooked Man', 11000, 4.5, 5940, 'Action'),
 ('The Prosecutor', 785, 7.1, 7020, 'Action'),
 ('Lift', 48000, 5.5, 6420, 'Action'),
 ('Weekend in Taipei', 4, 5.7, 6000, 'Action'),
 ('The Instigators', 35000, 6.2, 6060, 'Action'),
 ('Aftermath', 886, 5.1, 5820, 'Action'),
 ('Night Call', 1000, 7.0, 5820, 'Action'),
 ('Rifle Club', 3, 7.0, 6780, 'Action'),
 ('Damaged', 7, 4.7, 5820, 'Action'),
 ('Dirty Angels', 3, 4.3, 6240, 'Action'),
 ('Brothers', 12000, 5.4, 5340, 'Action'),
 ('Beverly Hills Cop: Axel F', 79000, 6.4, 7080, 'Action'),
 ('Survive', 2, 4.6, 5400, 'Action'),
 ('Apocalypse Z: The Beginning of the End', 18000, 6.1, 7020, 'Action'),
 ('Atlas', 54000, 5.6, 7080, 'Action'),
 ('Boneyard', 4, 4.1, 5760, 'Action'),
 ('The Silent Hour', 6000, 6.1, 5940, 'Action'),
 ('Kalki 2898 AD', 64000, 7.0, 10800, 'Action'),
 ('Descendants: The Rise of Red', 7, 4.7, 5460, 'Action'),
 ('Attack on Titan the Movie: The Last Attack', 11000, 9.3, 8700, 'Action'),
 ('Trigger Warning', 19000, 4.6, 6360, 'Action'),
 ('William Tell', 278, 6.3, 7980, 'Action'),
 ('Long Gone Heroes', 748, 5.1, 5520, 'Action'),
 ('Fighter', 52000, 6.2, 9960, 'Action'),
 ('Jackpot!', 29000, 5.8, 6360, 'Action'),
 ('Under Paris', 35000, 5.2, 6240, 'Action'),
 ('Armor', 3, 3.5, 5340, 'Action'),
 ('Canary Black', 10000, 5.3, 6060, 'Action'),
 ('Night of the Zoopocalypse', 87, 7.4, 5460, 'Action'),
 ('Rebel Moon - Part Two: The Scargiver', 58000, 5.3, 7320, 'Action'),
 ('Take Cover', 2000, 5.1, 5400, 'Action'),
 ('Aavesham', 26000, 7.8, 9300, 'Action'),
 ('Watchmen: Chapter I', 6, 7.0, 4980, 'Action'),
 ('Thangalaan', 6, 6.6, 9360, 'Action'),
 ('The Shadow Strays', 8, 6.5, 8640, 'Action'),
 ("Don't Mess with Grandma", 106, 6.9, 4860, 'Action'),
 ('No Way Up', 10, 4.6, 5400, 'Action'),
 ('Fight or Flight', 346, 6.8, 6060, 'Action'),
 ('Viduthalai Part 2', 15000, 8.1, 10200, 'Action'),
 ('Singham Again', 74000, 4.9, 8640, 'Action'),
 ('Mafia Wars', 165, 3.6, 5640, 'Action'),
 ('Classified', 2, 3.7, 6300, 'Action'),
 ('Jigra', 23000, 6.1, 9180, 'Action'),
 ('Alien: Rubicon', 275, 2.5, 5160, 'Action'),
 ('Baby John', 15000, 6.2, 9540, 'Action'),
 ('Chief of Station', 4, 4.7, 5820, 'Action'),
 ('Devara Part 1', 19000, 6.0, 10560, 'Action'),
 ('Trouble', 6, 6.2, 5880, 'Action'),
 ('The Thundermans Return', 2, 5.0, 4200, 'Action'),
 ('Sikandar Ka Muqaddar', 24000, 6.0, 8520, 'Action'),
 ('Harbin', 332, 6.8, 6480, 'Action'),
 ('Gunner', 2, 3.2, 6360, 'Action'),
 ('Mura', 6000, 7.5, 7740, 'Action'),
 ('Old Guy', 57, 6.7, 6240, 'Action'),
 ('The Fix', 1000, 4.6, 5880, 'Action'),
 ('S.T.A.L.K.E.R.: Shadow of the Zone', 387, 5.3, 4320, 'Action'),
 ('A Legend', 790, 4.7, 7740, 'Action'),
 ('Kingdom 4: Return of the Great General', 1000, 7.1, 8700, 'Action'),
 ('Agent Recon', 614, 2.3, 5100, 'Action'),
 ('Red Right Hand', 6, 5.4, 6660, 'Action'),
 ('Darkness of Man', 3000, 4.8, 6540, 'Action'),
 ('Justice League: Crisis on Infinite Earths - Part One',
  8,
  6.2,
  5580,
  'Action'),
 ('Watchmen: Chapter II', 2, 7.0, 5400, 'Action'),
 ('Posledniy Ronin', 85, 5.7, 7260, 'Action'),
 ('Role Play', 19000, 5.5, 6000, 'Action'),
 ('Megamind vs. The Doom Syndicate', 5, 2.4, 4980, 'Action'),
 ('My Spy The Eternal City', 10000, 5.7, 6720, 'Action'),
 ('Utopia', 288, 3.7, 5460, 'Action'),
 ('Uprising', 5, 6.6, 7560, 'Action'),
 ('Cash Out', 3, 4.8, 5520, 'Action'),
 ('Razakar: The Silent Genocide of Hyderabad', 5, 7.7, 9960, 'Action'),
 ('Murder Company', 2, 3.6, 5160, 'Action'),
 ('The Roundup: Punishment', 5, 6.6, 6540, 'Action'),
 ('Ferry 2', 3, 5.6, 5640, 'Action'),
 ('Arena Wars', 2, 5.0, 5760, 'Action'),
 ('Justice League: Crisis on Infinite Earths - Part Three',
  4,
  6.1,
  5640,
  'Action'),
 ('I, the Executioner', 1, 6.4, 7080, 'Action'),
 ('Sorgavaasal', 1, 6.7, 8280, 'Action'),
 ('Barroz: Guardian of Treasures', 823, 3.7, 9300, 'Action'),
 ('Code 8: Part II', 15000, 5.7, 6000, 'Action'),
 ('Kill Em All 2', 1, 4.1, 5280, 'Action'),
 ('Bhaje Vaayu Vegam', 507, 6.1, 8160, 'Action'),
 ('Hounds of War', 2, 4.5, 5700, 'Action'),
 ('Freaky Tales', 195, 6.8, 6360, 'Action'),
 ('The Wages of Fear', 4000, 4.6, 6240, 'Action'),
 ('Hanu Man', 29000, 7.7, 9480, 'Action'),
 ('Badland Hunters', 12000, 5.9, 6420, 'Action'),
 ('Officer Black Belt', 8, 6.8, 6480, 'Action'),
 ('Love, Courage and the Battle of Bushy Run', 138, 5.1, 6780, 'Action'),
 ('Eagle', 5, 5.9, 9540, 'Action'),
 ('Hitpig', 684, 5.0, 5160, 'Action'),
 ('One More Shot', 3, 5.4, 6180, 'Action'),
 ('Ultraman: Rising', 6000, 6.9, 7020, 'Action'),
 ('Dan Da Dan: First Encounter', 2, 8.2, 4980, 'Action'),
 ('Levels', 1, 5.0, 5580, 'Action'),
 ('The Price of Money: A Largo Winch Adventure', 857, 5.0, 6000, 'Action'),
 ('Prey', 3, 3.7, 5160, 'Action'),
 ('Pottel', 3, 8.6, 8880, 'Action'),
 ('UI', 6, 7.1, 8100, 'Action'),
 ('Garudan', 3, 7.1, 7980, 'Action'),
 ('Bachhala Malli', 4, 8.5, 8400, 'Action'),
 ('Bougainvillea', 3, 6.4, 8280, 'Action'),
 ('Golden Kamuy', 2, 6.3, 7620, 'Action'),
 ('Life After Fighting', 2, 6.4, 7560, 'Action'),
 ('Agni', 15000, 7.3, 7320, 'Action'),
 ('Raayan', 11000, 6.5, 8700, 'Action'),
 ('Simarik', 1, 7.6, 6660, 'Action'),
 ('Duchess', 1, 4.6, 6840, 'Action'),
 ('Article 370', 24000, 7.8, 9480, 'Action'),
 ('The Courier', 4, 6.0, 6060, 'Action'),
 ('Max', 2, 7.7, 7920, 'Action'),
 ('Air Force One Down', 3, 4.4, 5040, 'Action'),
 ("The Tiger's Apprentice", 2000, 5.7, 5040, 'Action'),
 ('Kanguva', 14000, 4.6, 9120, 'Action'),
 ('Bagheera', 7000, 6.7, 9480, 'Action'),
 ('Alangu', 1, 8.8, 7860, 'Action'),
 ('City Hunter', 5, 6.3, 6120, 'Action'),
 ('The Last Kumite', 2, 4.6, 6300, 'Action'),
 ('Mummy Shark', 120, 2.6, 3960, 'Action'),
 ('Angels Fallen: Warriors of Peace', 6, 5.0, 6180, 'Action'),
 ('The Clean Up Crew', 1000, 4.2, 5700, 'Action'),
 ('Kahar: Kapla High Council', 408, 6.9, 6120, 'Action'),
 ('The Quiet Ones', 432, 6.5, 6600, 'Action'),
 ('Panda Plan', 810, 5.2, 5940, 'Action'),
 ('Lights Out', 2, 4.9, 5400, 'Action'),
 ('Elyas', 957, 6.1, 6300, 'Action'),
 ('Hijack 1971', 3000, 6.8, 6000, 'Action'),
 ('Death Whisperer 2', 608, 7.1, 6600, 'Action'),
 ('Justice League: Crisis on Infinite Earths - Part Two',
  5000,
  5.5,
  5640,
  'Action'),
 ('Escape', 2, 6.4, 5640, 'Action'),
 ('Get Fast', 399, 3.6, 5280, 'Action'),
 ('Freedom', 1, 5.9, 6600, 'Action'),
 ('The Greatest of All Time', 21000, 5.8, 10980, 'Action'),
 ('Heart of the Hunter', 2, 4.7, 6300, 'Action'),
 ('Revolver', 760, 5.4, 6840, 'Action'),
 ('Joe Baby', 16, 8.2, 5160, 'Action'),
 ('GTMax', 1, 5.0, 6000, 'Action'),
 ('One Fast Move', 2, 5.0, 6480, 'Action'),
 ('Yolo', 3, 6.9, 7740, 'Action'),
 ('Outlaw', 858, 5.2, 4920, 'Action'),
 ('Khadaan', 2, 7.5, 8220, 'Action'),
 ('Latency', 2, 4.2, 5640, 'Action'),
 ('72 Hours', 259, 4.2, 5220, 'Action'),
 ('Die Hart 2: Die Harter', 5, 4.3, 5520, 'Action'),
 ('Cloud', 719, 6.4, 7380, 'Action'),
 ('Dharmarakshak Mahaveer Chhatrapati Sambhaji Maharaj',
  545,
  8.0,
  10440,
  'Action'),
 ("My Hero Academia: You're Next", 1, 7.0, 6600, 'Action'),
 ('Vettaiyan', 39000, 7.0, 9780, 'Action'),
 ('Invasion', 641, 4.8, 5460, 'Action'),
 ('Overlord: The Sacred Kingdom', 656, 7.1, 8100, 'Action'),
 ('Crakk: Jeetega... Toh Jiyegaa', 6, 4.7, 9240, 'Action'),
 ('Anaconda', 573, 4.8, 5040, 'Action'),
 ('200% Wolf', 775, 5.5, 5880, 'Action'),
 ('Alienoid: The Return to the Future', 2, 6.5, 7320, 'Action'),
 ('Dominique', 2, 5.1, 6000, 'Action'),
 ('Saripodhaa Sanivaaram', 8, 7.0, 9960, 'Action'),
 ('The Ballad of Davy Crockett', 228, 4.6, 5760, 'Action'),
 ('Sixty Minutes', 5000, 5.7, 5280, 'Action'),
 ('Vanvaas', 896, 6.7, 9600, 'Action'),
 ('Yodha', 9, 5.7, 7800, 'Action'),
 ('Wynonna Earp: Vengeance', 2, 5.6, 5760, 'Action'),
 ('Clone Cops', 16, 7.7, 5760, 'Action'),
 ('Operation Blood Hunt', 389, 3.3, 5580, 'Action'),
 ('The Lockdown', 577, 4.3, 7020, 'Action'),
 ('Ka Whawhai Tonu', 154, 7.5, 6900, 'Action'),
 ('Terminator: Skynet Rising', 251, 6.8, 5280, 'Action'),
 ('Demon Slayer: Kimetsu No Yaiba - To the Hashira Training',
  8,
  7.1,
  6240,
  'Action'),
 ('A.R.M', 8, 7.1, 9000, 'Action'),
 ('Chandu Champion', 33000, 7.8, 8520, 'Action'),
 ('Cells at Work!', 88, 6.9, 6540, 'Action'),
 ('Wanted Man', 2, 4.8, 5100, 'Action'),
 ('Nice Girls', 1, 4.2, 5520, 'Action'),
 ('Guntur Kaaram', 24000, 5.4, 9540, 'Action'),
 ('Bureau 749', 459, 4.3, 7380, 'Action'),
 ('The Last Front', 558, 5.5, 5880, 'Action'),
 ('Savi', 35000, 6.2, 7560, 'Action'),
 ("Ryan's World the Movie: Titan Universe Adventure",
  470,
  2.1,
  4800,
  'Action'),
 ('12 to Midnight', 246, 3.7, 5760, 'Action'),
 ('The Kingdom', 77, 7.9, 7980, 'Action'),
 ('Striking Rescue', 240, 5.9, 6360, 'Action'),
 ('Fight Another Day', 160, 7.6, 5820, 'Action'),
 ('Big Rage', 96, 6.4, 6900, 'Action'),
 ('School of Magical Animals 3', 256, 5.9, 6300, 'Action'),
 ('Vedaa', 4, 6.0, 8700, 'Action'),
 ('No Time to Spy: A Loud House Movie', 423, 6.4, 4860, 'Action'),
 ('The Bouncer', 36, 5.3, 4680, 'Action'),
 ('How to Rob a Bank', 4000, 6.6, 5280, 'Action'),
 ('The Hangman', 957, 3.3, 5520, 'Action'),
 ('Mission: Cross', 2, 6.1, 6300, 'Action'),
 ('Bade Miyan Chote Miyan', 39000, 3.8, 9780, 'Action'),
 ('Zebra', 3, 8.0, 9840, 'Action'),
 ('The Friendly', 11, 8.0, 6060, 'Action'),
 ('Naam', 266, 6.3, 8160, 'Action'),
 ('The Charisma Killers', 467, 6.4, 6060, 'Action'),
 ('Pimpinero: Blood and Oil', 498, 5.7, 7260, 'Action'),
 ('Sons of Rizk 3', 2, 6.7, 7500, 'Action'),
 ('Cesium Fallout', 388, 6.7, 8160, 'Action'),
 ("Devil's Knight", 721, 5.5, 5400, 'Action'),
 ('The Family Star', 5, 5.4, 9540, 'Action'),
 ('Troubleshooters', 381, 6.4, 6600, 'Action'),
 ('WWII: Operation Phoenix', 45, 7.7, 6360, 'Action'),
 ("Deaner '89", 375, 5.9, 5400, 'Action'),
 ('Spiders on a Plane', 341, 6.1, 4680, 'Action'),
 ('Toofan', 6000, 7.2, 8700, 'Action'),
 ('Everybody Loves Jenifa', 66, 8.4, 8100, 'Action'),
 ('Karma', 1, 8.3, 10020, 'Action'),
 ('Orang Ikan', 28, 6.5, 4980, 'Action'),
 ('Operation Valentine', 1, 5.3, 7980, 'Action'),
 ('Baki Hanma VS Kengan Ashura', 2, 5.7, 3720, 'Action'),
 ('Escape from the 21st Century', 732, 6.5, 5880, 'Action'),
 ('Citizen of a Kind', 693, 6.7, 6840, 'Action'),
 ('Hunting with Tigers', 470, 5.7, 6540, 'Action'),
 ('Cassino in Ischia', 195, 4.4, 6780, 'Action'),
 ('Baby Invasion', 47, 5.5, 4800, 'Action'),
 ('24 Hours to D-Day', 27, 5.0, 4980, 'Action'),
 ('Drive Back', 245, 4.8, 5640, 'Action'),
 ('The Twisters', 301, 2.6, 5160, 'Action'),
 ('Customs Frontline', 434, 5.5, 6900, 'Action'),
 ('Mr. Bachchan', 5, 3.6, 9000, 'Action'),
 ('Auron Mein Kahan Dum Tha', 40000, 6.6, 9000, 'Action'),
 ('Je Jatt Vigarh Gya', 800, 5.6, 7920, 'Action'),
 ('Roadkill', 659, 3.6, 5400, 'Action'),
 ('Indian 2', 16000, 3.9, 10800, 'Action'),
 ('Snatched', 198, 4.9, 6060, 'Action'),
 ('Yudhra', 13000, 5.1, 8520, 'Action'),
 ('Martin', 36000, 2.3, 8820, 'Action'),
 ('Baby Assassins: Nice Days', 215, 7.4, 6180, 'Action'),
 ('Xiong Shi Shao Nian 2', 130, 7.6, 8040, 'Action'),
 ('War of the Worlds: Extinction', 136, 3.1, 5040, 'Action'),
 ('Bionic', 2, 4.3, 6600, 'Action'),
 ('Matka', 543, 4.8, 9360, 'Action'),
 ('Bidurbhai', 371, 9.2, 8880, 'Action'),
 ('Ballistic', 147, 2.3, 5700, 'Action'),
 ('The Plot', 344, 4.8, 6000, 'Action'),
 ('Big City Greens the Movie: Spacecation', 509, 6.2, 0, 'Action'),
 ('The Vampire and the Vigilante', 35, 3.3, 4500, 'Action'),
 ('Camp Blood: Clown Shark', 71, 3.3, 4200, 'Action'),
 ('Taken from Rio Bravo', 291, 3.0, 4800, 'Action'),
 ('Rogue Elements: A Ryan Drake Story', 889, 4.9, 2640, 'Action'),
 ('The Firefighters', 52, 7.0, 6360, 'Action'),
 ('Pranaya Godari', 2, 8.1, 8880, 'Action'),
 ('Hellhound', 459, 4.3, 6180, 'Action'),
 ('In Tenebras: Into the Darkness', 143, 5.9, 5400, 'Action'),
 ('Eye for an Eye 2', 418, 6.5, 5400, 'Action'),
 ('Continental Split', 500, 3.5, 5280, 'Action'),
 ('Sector 17', 1, 7.8, 8760, 'Action'),
 ('The Last Chainsaw Massacre', 35, 3.7, 4500, 'Action'),
 ('Crisis Negotiators', 654, 6.7, 7200, 'Action'),
 ('Paradise', 75, 7.0, 4980, 'Action'),
 ('Sucha Soorma', 894, 6.6, 8160, 'Action'),
 ('Gandhi 3', 220, 5.6, 8580, 'Action'),
 ('High Forces', 444, 5.8, 7140, 'Action'),
 ('Shark Warning', 237, 3.4, 5640, 'Action'),
 ('Alien Country', 334, 4.4, 5760, 'Action'),
 ('Mobile Suit Gundam SEED Freedom', 892, 6.7, 7440, 'Action'),
 ('6 Hours Away', 227, 3.9, 5580, 'Action'),
 ('Handsome Guys', 593, 6.5, 6060, 'Action'),
 ('Dirty Money', 82, 5.5, 6000, 'Action'),
 ('The Omicron Killer', 586, 3.0, 5880, 'Action'),
 ('Snow White and the Seven Samurai', 230, 3.3, 5280, 'Action'),
 ('Captain Miller', 8, 6.5, 9420, 'Action'),
 ('Non Negotiable', 1, 5.4, 5220, 'Action'),
 ('Formed Police Unit', 435, 4.7, 7200, 'Action'),
 ('The Last of Us: Immunity', 6, 7.8, 3840, 'Action'),
 ('I Heart Robots', 2, 4.5, 4560, 'Action'),
 ('(Pri)sons', 208, 5.2, 6000, 'Action'),
 ('The Infallibles', 728, 4.7, 5940, 'Action'),
 ('Mongol', 82, 8.7, 9300, 'Action'),
 ('The Actor', 713, 3.3, 7680, 'Action'),
 ('Prepare to Die', 218, 4.9, 5580, 'Action'),
 ('Tillu Square', 3, 6.6, 8220, 'Action'),
 ('Turbo', 3, 5.9, 9300, 'Action'),
 ('Mechanic Rocky', 3, 6.7, 9360, 'Action'),
 ('How to Make a Werewolf', 77, 5.9, 0, 'Action'),
 ('The Unbreakable Bunch', 20, 7.7, 0, 'Action'),
 ('KA', 2, 7.2, 9060, 'Action'),
 ('Conquer: Lahad Datu', 471, 6.7, 7200, 'Action'),
 ('Double Ismart', 2, 2.9, 9360, 'Action'),
 ('Siren', 3, 6.4, 9240, 'Action'),
 ('Stuntman', 129, 7.0, 6840, 'Action'),
 ('Sasan', 58, 8.4, 9300, 'Action'),
 ('Next to Us', 199, 5.0, 7500, 'Action'),
 ('Ship of the Damned', 282, 2.8, 5280, 'Action'),
 ('The Traveller', 179, 5.2, 8040, 'Action'),
 ('The Grey Men', 63, 6.5, 5820, 'Action'),
 ('Hagen', 616, 6.5, 8340, 'Action'),
 ("My Fathers' Daughter", 59, 6.7, 4680, 'Action'),
 ('Six jours', 88, 6.4, 5700, 'Action'),
 ('Kung Fu Games', 361, 3.3, 5880, 'Action'),
 ('Rode College', 410, 6.6, 10080, 'Action'),
 ('Raqa', 54, 6.5, 6420, 'Action'),
 ('Bhaiyya Ji', 7, 4.8, 9000, 'Action'),
 ('Midas', 324, 4.6, 5100, 'Action'),